[2018-06-19 14:16] dithillobothrium opened #2 "Test dbcsr_performance_driver doesn't work for non-square matrices"
Test dbcsr_performance_driver doesn't work for non-square matrices

Error:  Number of blocked rows does match blocked row distribution.

The problem could be in the creation of distribution and matrices
https://github.com/cp2k/dbcsr/blob/9b6f733113c53d17dc9061dee8e0ddc49ab1c756/tests/dbcsr_performance_multiply.F#L531

[2018-06-22 08:03] dev-zero opened #3 "Update file headers"
Following the discussion on the CP2K-Dev ML: I think we should update the file headers at some point:

1. most of them only mention CP2K, not DBCSR specifically
2. many mention a copyright, but no license

Example from current: https://github.com/cp2k/dbcsr/blob/a6eea29afe755ac0beaa270a637ed63e0724616c/src/dbcsr_api.F#L1-L4

For the first part we need a good wording which declares DBCSR as its own

[2018-06-22 09:08] oschuett commented on #3
+1 for SPDX headers. I've been contemplating this for CP2K as well.

[2018-06-22 10:58] alazzaro commented on #3
Do we have an automatic script for that?

[2018-06-22 11:59] dev-zero opened #4 "Automate sync to CP2K SVN"
The setup on a worker which is going to fetch Git commits in a bunch and pushes them to CP2K SVN could look as follows if we do not want to replicate the complete history from DBCSR in SVN anymore.

Initial setup:

[code]

The task runner would then have to do something along the lines:

[code]

This would result in squashed commits.

Other options/variations:
* replicate individual commits via `g

[2018-06-22 12:36] dev-zero commented on #3
Something like this?

[code]

[2018-06-26 21:45] alazzaro opened #6 "Bug in Cannon"
Bug in Cannon introduced with the commit for improving multiplications with virtual images. The bug appears on PizDaint (Ilia found it) when a square grid is used

[2018-06-26 21:50] alazzaro commented on #6
@dithillobothrium Could you try if my commit fixes the bug with the square grid on Daint?

[2018-06-27 08:35] dev-zero commented on #6
@alazzaro btw, if you wanted to close this bug automatically, you would have to say `Fix #6` (without the `Bug`), see https://help.github.com/articles/closing-issues-using-keywords/

[2018-06-27 18:03] #2 closed

[2018-06-28 15:12] #6 closed

[2018-06-29 07:53] alazzaro opened #8 "File extensions in the Makefile"
I see that the makefile is checking for these file extensions:

OBJ_SRC_FILES  = $(shell cd $(SRCDIR); find . -name "*.F")
OBJ_SRC_FILES += $(shell cd $(SRCDIR); find . -name "*.c")
OBJ_SRC_FILES += $(shell cd $(SRCDIR); find . -name "*.cpp")
OBJ_SRC_FILES += $(shell cd $(SRCDIR); find . -name "*.cxx")
OBJ_SRC_FILES += $(shell cd $(SRCDIR); find . -name "*.cc")

However, we have only targets for .

[2018-06-30 17:37] #8 closed

[2018-07-05 09:49] dev-zero opened #9 "dbcsr_api_c.F: broken with gcc-4.8.5 due to OPTIONAL in BIND(C) procedure"
[code]

I guess this is intentional and requires 2008+TS support in the compiler, but there is no hint in the README about that fact.

[2018-07-05 11:50] dev-zero commented on #9
Ok, I've updated the documentation. The bug actually occurred in an intermediate state while rebasing the develop branch and the `-std=f2008ts` was not added, sorry.

[2018-07-05 11:50] #9 closed

[2018-07-05 11:54] dev-zero opened #10 "dbcsr_api_c.F: use build system for conditional compilation"
Currently there is a `#ifdef __C_INTERFACE` to disable the complete module when building without C interface support. This is actually a job for the build system.

[2018-07-09 16:00] pseewald opened #13 "need check whether dbcsr_init_lib() has been called"
If user forgets to call `dbcsr_init_lib`, he will not get a meaningful error message (but `dbcsr_mm` will crash). So we need a check for that.

[2018-07-10 20:56] alazzaro commented on #10
I have changed this part. Now the file is compiled only when CINT=1 is set. I agree that we should make it automatically whenever the compiler supports F2008TS...

[2018-07-24 15:21] michaellass opened #17 "dbcsr_test_csr_conversions.x hangs when built using Intel toolchain"
**Summary**
I have attempted building dbcsr with different toolchains. Using GCC/OpenMPI/refblas/reflapack, I have no issues running all the tests with `make test`. However, when I use the Intel compiler, Intel MPI and MKL, dbcsr_test_csr_conversions.x hangs forever inside `dbcsr_zero`. The other tests seem to work fine.

**Details**
I'm using the Intel compiler and libraries as included in Parall

[2018-08-03 10:04] alazzaro commented on #17
Thanks for reporting this problem. We do test DBCSR within CP2K with several compiler versions (see https://www.cp2k.org/dev:compiler_support ). The IFort 18.0.3 works fine but, you are right, it requires to change dbcsr_get_info and remove INTENT(OUT) (07454c0cc4b75e01f0d9f270aae9d24c245d0b0d)

[2018-08-20 14:04] alazzaro opened #19 "Remove path dependency in the GPU kernel generation"
@shoshijak
Currently, we are hard-coding the path to the kernels (in the file libcusmm.cpp) by setting the external macro DBCSRHOME.

#define KERNEL_FILES_PATH DBCSRHOME "/src/acc/libsmm_acc/libcusmm/kernels/"

The reason for that is because we set the include directory:

const std::string kernel_files_path = KERNEL_FILES_PATH;
const std::string include_opt = "-I=" + kernel_files_path;

The only h

[2018-08-20 15:47] alazzaro commented on #19
As a workaround, I have introduced a new variable:

DBCSRINC

which can be set in the Makefile.inc. The default value is:

DBCSRINC ?= $(SRCDIR)/acc/libsmm_acc/libcusmm/kernels/

(see Makefile)

[2018-08-20 15:54] alazzaro opened #20 "Modify parameters_K20X.txt to replace “largeDB” by “largeDB1”"

[2018-08-20 15:55] alazzaro opened #21 "Remove "split_thread" in the old parameters file for CUDA"

[2018-08-20 17:38] alazzaro opened #22 "Limit the maximum size for the GPU blocks to be 80"
Don't use GPU whenver {m, n, k} > 80, fallback to CPU.

[2018-08-20 17:41] #22 closed

[2018-08-20 17:58] alazzaro opened #23 "Make densification for GNU whenever CUBLAS is used"

[2018-08-21 08:03] alazzaro opened #24 "Include a version file of the library"
@dev-zero is suggesting to have it in the build system

[2018-08-21 08:32] dev-zero commented on #24
The build system needs the version the latest when either building a release tarball, a binary package or a shared library (for the `soname` and the file name). It is therefore usually easier to keep the version only in the build system and pass it further down using either a config header `dbcsr_config.h` (which could then also include oder pre-processor definitions) or directly preprocessor defi

[2018-08-21 16:03] shoshijak commented on #21
this would be fixed by PR#25

[2018-08-21 16:03] shoshijak commented on #20
this would be fixed by PR#25

[2018-08-22 07:20] shoshijak commented on #19
Fixed in PR#26

[2018-08-22 07:59] #21 closed

[2018-08-22 08:02] #20 closed

[2018-08-22 08:42] shoshijak opened #27 "Add test of transpose kernels to libcusmm_unittest"
Currently, libcusmm_unittest only tests multiplication

[2018-08-22 10:35] #19 closed

[2018-08-22 15:56] alazzaro opened #28 "CUBLAS failed with some CP2K tests"
** On entry to DGEMM  parameter number 10 had an illegal value

[2018-08-23 16:44] #23 closed

[2018-08-23 16:45] #28 closed

[2018-08-24 08:41] #24 closed

[2018-08-27 12:33] alazzaro opened #32 "Include loggers and timers creation in dbcsr_init_lib/finalize"

[2018-08-27 17:48] alazzaro opened #33 "Extend dbcsr_performance_driver for transpose rectangular matrices"

[2018-08-28 08:16] alazzaro commented on #33
Fixed with commit [2100b99152fd03200ac5ffd084c4954438899134](https://github.com/cp2k/dbcsr/commit/2100b99152fd03200ac5ffd084c4954438899134)

[2018-08-28 08:16] #33 closed

[2018-08-29 10:25] alazzaro opened #34 "Remove unused arrays for clusters"

[2018-08-31 10:30] alazzaro opened #37 "Putblock: check if the block has the right dimensions (and return it was OK)"

[2018-09-04 08:34] alazzaro opened #38 "Add a check in the makefile to verify is fypp is installed"
This check is required when people download DBCSR as a zip file and they don't get fypp included (since it is a submodule). In this case, a message like:
Fypp is not installed in the default position ..., please install it and use make FYPPEXE=<> ... to point to it.

[2018-09-05 09:03] alazzaro opened #39 "Include C/C++ code in documentation"
File to add contributing-to-DBCSR.md, explanation of the build system (and how to hack it), and structure of the directories.

[2018-09-21 12:58] alazzaro opened #40 "Add filtering to dbcsr_performance_driver"

[2018-09-27 15:37] alazzaro opened #41 "Add unittests for 1D grid"

[2018-10-08 16:47] dithillobothrium opened #42 "dbcsr_make_undense works strange"
https://github.com/cp2k/dbcsr/blob/1d923e0e071bf7bb0e2593cc0d12dcf5a22e87a9/src/mm/dbcsr_mm.F#L1019

in dbcsr_make_undense number of blocks (% nblks ) is copied from distribution nblkrows_local*nblkcols_local. This gives wrong number of blocks for the matrix which has 0 blocks on a current rank.

[2018-10-09 06:59] #42 closed

[2018-10-10 12:05] davydden opened #43 "setup CI to build proper release tarball upon tagging"
pre-release tarbal does not contain bundled `fypp`

[2018-10-10 12:13] dev-zero commented on #43
Do you mean the `v1.0.0-rc.0`? If yes: we know, we have to setup a CI to build the proper tarball automatically.

[2018-10-10 12:14] davydden commented on #43
yes.

[2018-10-10 12:17] dev-zero commented on #43
in the meantime, you can use `git clone -b v1.0.0-rc.0 --recursive https://github.com/cp2k/dbcsr.git` to get the same content as in the tarball, plus Fypp.

[2018-10-10 12:26] davydden opened #44 "CMake: Parallel build issue for tests"
i know that `cmake` is experimental, nonetheless I think the errors are not CMake specific:
[code]

I am building on macOS with gfortran@8.2.0 and default `make`. I will try `gnu` make to see if there is any difference...

[2018-10-10 12:34] alazzaro commented on #44
This issue was fixed in a new release. It is due to a parallel compilation of the tests. The current solution would be to compile the tests with -j1.

[2018-10-10 12:37] davydden commented on #44
ah, interesting, i will give it a try...

[2018-10-10 12:57] davydden commented on #44
yes, serial build fixed the issue.

[2018-10-10 13:24] davydden opened #45 "CMake: install target missing"
I am sure you are aware of this, but CMake build lacks install target.

Probably, this should be (in case of a general out-of-source build):

- [ ] `<CMAKE_BUILD_DIR>/src/*.mod -> prefix/include/*`
- [ ] `<CMAKE_BUILD_DIR>/src/*.a|so|dylib -> prefix/lib/*`
- [ ] `<CMAKE_SOURCE_DIR>/src/*.h -> prefix/include/*`

[2018-10-10 13:32] dev-zero commented on #45
yes, I am aware. Unfortunately I didn't have the time yet to write that one (PR appreciated ;-))

[2018-10-10 14:47] davydden commented on #45
that's usually done via
[code]
however I never did anything with Fortran in Cmake. So I keep this code snippet here in case it helps later.

[2018-10-11 07:26] dev-zero opened #46 "CMake: option to switch SMM-implementation missing"
maybe something like a tri-state?

* `WITH_SMM=blas`
* `WITH_SMM=libxsmm`
* `WITH_SMM=libsmm`

[2018-10-11 07:26] dev-zero opened #47 "CMake: CUDA option/detection missing"

[2018-10-18 10:45] davydden opened #49 "Fortran runtime error"
I get the following runtime error when trying to run `cpp` example:
[code]

[2018-10-18 10:49] dev-zero commented on #49
Is that on macOS?

[2018-10-18 10:52] davydden commented on #49
Yes, Mojave

[2018-10-18 11:03] dev-zero commented on #49
ok, seems we have to set `-D__NO_STATM_ACCESS` for macOS

[2018-10-18 12:18] #49 closed

[2018-10-18 12:24] davydden opened #51 "dbcsr_example_3.cpp hangs on dbcsr::finalize_lib(group)"
`dbcsr_example_3.cpp` hangs on https://github.com/cp2k/dbcsr/blob/develop/examples/dbcsr_example_3.cpp#L134 , which calls `c_dbcsr_finalize_lib_aux(&fcomm);`.

p.s. `openmpi@3.1.2`, `macOS mojave`, `gcc@8.2.0`

[2018-10-18 12:33] alazzaro commented on #51
How many threads and MPI ranks?
Do you have a stack trace for that?

[2018-10-18 12:33] alazzaro commented on #51
@dithillobothrium Could you look at this problem?

[2018-10-18 12:35] alazzaro commented on #51
BTW, which compiler are you using?

[2018-10-18 12:49] dev-zero opened #52 "setup bug-reporting templates"
with examples on how to obtain the required information we need to be able to reproduce the problem for:
* MPI implementation and version
* compiler vendor, version, flags
* OS/platform
* FFT implementation and version
* BLAS/LAPACK implementation and versions
* CUDA compiler version and target platform

[2018-10-18 12:49] davydden commented on #51
compiled without OpenMP, single MPI rank (purely serial).

after `dbcsr.h:17` it's
[code]

with `frame #0`: being:
[code]

`gcc@8.2.0`

[2018-10-18 12:50] dithillobothrium commented on #51
I can look

[2018-10-18 13:05] dev-zero commented on #3
Based on the AiiDA header file, how about the following?

[code]

Too verbose? Drop the `hosted on`?

[2018-10-18 15:19] alazzaro commented on #51
OK, it is hanging on an allreduce for a single rank, which is pretty weird...
I had a similar problem time ago with OpenMPI 3.1.2 on a linux machine and it turned our that it is something broken in OpenMPI 3.1.x. Indeed 3.0.2 works. Could you confirm that?

[2018-10-18 15:23] dev-zero opened #54 "[cmake] introduce blacklist facilities"
we know that certain OpenMPI, compiler or BLAS/LAPACK versions are broken

to reduce the workload it might be beneficial to maintain a list of broken deps in CMake

[2018-10-18 15:43] dithillobothrium commented on #51
in my case it works with gcc 7.3.1 and openmpi 3.1.2 on a linux machine

[2018-10-19 11:46] #44 closed

[2018-10-19 11:48] dev-zero commented on #45
thanks, fixed it with #48

[2018-10-19 11:48] #45 closed

[2018-10-19 13:40] dev-zero commented on #3
simplified it a bit more:
[code]

[2018-10-19 14:40] davydden commented on #51
unfortunately note, `3.0.2` gives the same issue.

[2018-10-22 15:54] dev-zero commented on #46
will wait for the libxsmm-1.10 release featuring a pkg-config file to implement the libxsmm-check hfp/libxsmm#269 then the following should be enough to properly detect `libxsmm` and get the required flags:

[code]

@alazzaro do we want a quad-state `WITH_SMM=auto` (default), `WITH_SMM=blas`, `WITH_SMM=libxsmm`, `WITH_SMM=libsmm` with `auto` trying to discover and use libxsmm, libsmm automatically

[2018-10-22 16:07] dev-zero commented on #43
the building blocks are as follows:

* create a machine account to avoid coupling the required OAuth token to my account: https://developer.github.com/v3/guides/managing-deploy-keys/#machine-users
* follow [Travis' GitHub Release Uploading to upload the tarball on tagging ](https://docs.travis-ci.com/user/deployment/releases/)
* the `before_deploy` can then be used to to run `git archive` either d

[2018-10-23 07:08] alazzaro commented on #46
I would prefer the latter solution. In principle, libsmm is not suggested (unless they are using no-x86 platform), while I must admit in most cases MKL is already doing a good job (therefore libxsmm is not needed)... We will make clear this point in the documentation...

[2018-10-23 07:11] alazzaro opened #58 "Documentation"
1) Macros for compiling the library
2) External library dependencies

[2018-10-23 08:39] dev-zero commented on #58
can you elaborate a bit more what you are expecting here?
User-documentation or DBCSR-developer documentation?

[2018-10-23 08:49] dev-zero commented on #46
good, the latter solution is also the easier one :+1:

[2018-10-23 08:53] alazzaro commented on #58
It is a placeholder for any kind of documentation...

[2018-10-23 10:01] dev-zero commented on #58
ok, but wouldn't it be better to make a project or milestone and create specific resolvable issues instead?

[2018-10-25 14:35] dev-zero commented on #58
@alazzaro we now have projects :) do you mind creating separate issues for the different documentation issues and link them there?

[2018-10-26 12:14] davydden opened #61 "[cmake] installation should contain FooConfig.cmake"
the code snippet https://github.com/cp2k/dbcsr/pull/55#issue-224230337 is not the best way of finding an external `dbcsr` library from a downstream project.

`find_package()` by downstream project shall be called in "config" mode, see [stackoverflow](https://stackoverflow.com/a/20857070/888478) for discussion and example.

One could do it with
[code]

followed by
[code]

where `FooConfig.cmake.in`

[2018-10-29 13:53] dev-zero opened #65 "Multiple definition of constexpr symbols when used in different compilation units"
[code]

gives

[code]

reported by @jkn93 in PR #64

Seems we have to come up with a different idea on how to alias those functions in the header. Please note that according to the C++ standard (7.1.5) a `constexpr function` is being turned into an implicit inline function.

[2018-10-29 14:16] alazzaro commented on #65
I don't have time to look at this problem now, however an easy fix is to make all functions in the header as static. @dev-zero could you try that?
BTW, we don't have a test for this interface, I will open a new issue...

[2018-10-29 14:17] alazzaro opened #66 "Unittest for C/C++ interface function"

[2018-10-30 11:29] jkn93 commented on #66
I've added an example (examples/dbcsr_example_4.cpp) that covers most functionality.

[2018-10-30 11:34] jkn93 opened #68 "'dbcsr_trace_ab' is only correct for a symmetric matrix 'b'"
This is a rather minor issue, since qc-developers will usually use this with real symmetric matrices,
e.g., Tr[PF] or Tr[PS], which will work just fine. To be formally correct, one could either rename this
function to 'dot_ab' or actually transpose matrix b.

[2018-10-30 15:01] dev-zero commented on #65
Does not work. When building a file including that header, the compiler expects a definition:

[code]

[2018-10-30 15:37] dev-zero commented on #65
ok, the following works (and is probably what you meant):
[code]

Two questions:

- Wouldn't it be cleaner to not export those `_aux` functions in the first place and add the implementation of the `c_dbcsr_finalize_lib` and `c_dbcsr_distribution_new` in a separate `dbcsr.c` file?
- Does it really make sense to simply alias the function names into the `dbcsr` namespace? The API doesn't become magic

[2018-10-30 15:55] jkn93 commented on #65
I'll submit a small extension to my intermediate header. The namespace contains
wrapper-funcs that'll ease the access to the fortran-routines by using references.
The sample 'dbcsr_example_5.cpp' uses those wrappers.
This header should also work with plain c-code.
Feel free to modify...

[2018-10-31 21:21] yurivict opened #72 "Tests hang"
It stays this way forever:
[code]

FreeBSD 11.2 amd64

[2018-10-31 21:30] yurivict opened #73 "cmake build doesn't have an option for libxsmm"
README says that it can be used, but only ```Makefile.inc``` has code to enable it. ```cmake``` build doesn't have such option.

[2018-11-01 06:35] dev-zero commented on #73
Duplicate of #46

[2018-11-01 06:35] #73 closed

[2018-11-01 06:39] dev-zero commented on #72
possibly a duplicate of #51

Can you please report: compiler and MPI versions and possibly try to attach a debugger to the hanging process to see where it hangs?

[2018-11-01 17:08] #46 closed

[2018-11-01 17:08] #47 closed

[2018-11-01 19:52] dev-zero commented on #73
I pushed support for building DBCSR with libxsmm using cmake today.

    cmake -DUSE_SMM=libxsmm

should do the trick, although you need the latest development version of libxsmm or wait for the next release (schedule for November 12th) since we rely on the new pkg-config files from libxsmm.

[2018-11-02 11:37] dev-zero opened #75 "[libcusmm] libcusmm_unittest_transpose test failure"
On our K20X system, the `libcusmm_unittest_transpose` test fails with the following message:

[code]

@shoshijak is this CUDA arch or kernel dependent?

[2018-11-02 11:41] alazzaro commented on #75
Are you using CUBLAS flag during the compilation? Such a big kernel should not be there, unless we apply densification and that case we should not transpose...

[2018-11-02 11:43] dev-zero commented on #75
no, I used `cmake -DUSE_MPI=OFF -DUSE_CUDA=ON -DWITH_GPU=K20X` to build, which leaves CUBLAS turned off by default

[2018-11-02 13:05] alazzaro commented on #75
Ah OK, I see the problem now. The file

https://github.com/cp2k/dbcsr/blob/develop/src/acc/libsmm_acc/libcusmm/parameters_K20X.json

reports "huge" kernels (I think for testing purpose):

[code]
@shoshijak
Those kernels are too big to run on the GPU, I wonder how they made it...
I see two solutions:
1) remove those kernels from the file
2) replace the assert with the product of dimensions (80*80*8

[2018-11-02 13:06] shoshijak commented on #75
The `libcusmm_unittest_transpose` test just tests all transposition operations that could arise given the kernels defined in `parameters_GPU.json`. I see that in `parameters_K20X.json` (https://github.com/cp2k/dbcsr/blob/develop/src/acc/libsmm_acc/libcusmm/parameters_K20X.json), there are a number of kernels with m, n, or k > 80. I'm guessing they were introduced to the parameter file before the `

[2018-11-02 14:05] dithillobothrium commented on #65
I think namespace is needed just to shorten the names, otherwise it is not needed.

[2018-11-02 14:14] dev-zero commented on #65
ok then, what about using a different namespace like `c_dbcsr` to keep the `dbcsr` namespace empty for a truly OO API for DBCSR?

[2018-11-02 14:19] dithillobothrium commented on #65
OO API will be a class with static functions? If it is so then there is no too much difference between namespace and class.

[2018-11-02 14:29] dithillobothrium commented on #65
Ah. Then probably we dont need the copies of the functions in the namespace. Just C-interface and OO API like that.

[2018-11-02 15:02] alazzaro commented on #65
Guys, this part is on my to-do list. Let's keep the interface as it is. BTW, I would prefer to use static. I must admit the "inline" is artificial... In both cases, explicit inline and static allow the declaration of functions inside the headers.

[2018-11-02 15:21] dev-zero commented on #65
@alazzaro you mean the `inline` as proposed in #64? Did you see that some of the calls are also reducing parameters? For example:

https://github.com/cp2k/dbcsr/blob/66cee2acd5462d14fb94209f3f1044598dea86bc/src/dbcsr_c.h#L67-L70

[2018-11-05 10:15] #43 closed

[2018-11-05 21:33] dev-zero commented on #68
@alazzaro do we want to fix this prior to the final 1.0.0 release?

[2018-11-05 22:36] alazzaro commented on #68
No, let's leave it for the v2.0 (it is a change in the API w.r.t. the current DBCSR in CP2K)

[2018-11-05 22:38] alazzaro commented on #65
OK to drop the C++ namespace, then we have to update the example to use C functions. I will fix it in the next days (and add a test for the interface). Do we have the C enable interface on Travis?

[2018-11-05 22:39] alazzaro commented on #3
Is this change already done?

[2018-11-05 22:42] alazzaro commented on #52
@dev-zero There is no need to use FFT

[2018-11-06 07:06] dev-zero commented on #52
hmm, I wonder whether I wanted to open this bug on cp2k/cp2k instead, but yeah, doesn't make sense

[2018-11-06 07:07] dev-zero commented on #65
C enable interface is on by default on Travis, but not building the examples. Will update the example today since I have the drop already prepared in PR #82

[2018-11-06 07:44] alazzaro commented on #65
Well, I can move the example to the test directory and making a test out of it (Friday).

[2018-11-06 09:06] #75 closed

[2018-11-06 09:16] dithillobothrium opened #85 "DBCSR does not compile with enabled CUBLAS."
The error looks like **acc_devmem_cptr** does not work (it converts TYPE(acc_devmem_type) to  c-ptr)
...dbcsr/src/mm/dbcsr_acc_operations.F:225:54:

       istat = libsmm_acc_transpose_cu(acc_devmem_cptr(trs_stack), &
                                                      1
Error: Type mismatch in argument 'this' at (1); passed TYPE(acc_devmem_type) to INTEGER(4)

[2018-11-06 09:31] hfp opened #86 "Recipe for using DBCSR/develop in CP2K"
It would be handy to have a recipe for using DBCSR/develop in CP2K. The recipe is not meant to touch open questions (Git-submodules, etc.), but rather meant to have at least a list of (manual) steps to follow. It may also serve as a work-item to initially harmonize both sources (CP2K build system to account for renamed files, etc.).

[2018-11-06 09:35] alazzaro commented on #86
@dev-zero is working on that.
This is the receipt (not sure if it still works), which are based on my CP2K-svn repo:

https://github.com/alazzaro/cp2k/tree/master/cp2k

-) remove the directories src/dbcsr and src/dbcsr_tensor
-) remove the directories tools/build_libsmm and tools/dbcsr_test
-) Update of the corresponding PACKAGEs file: src/arnoldi/PACKAGE, src/dbcsrx/PACKAGE, src/emd/PACKAGE, src/

[2018-11-06 09:44] hfp commented on #86
Thank you, Alfio for sharing the steps!

[2018-11-06 13:33] hfp commented on #86
https://github.com/cp2k/cp2k/issues/52

[2018-11-06 14:33] pseewald commented on #86
I'm just about to create a pull request for CP2K that replaces CP2K-internal DBCSR with standalone DBCSR based on Alfio's fork. Then we have a CP2K branch that works with standalone DBCSR and the pull request can be updated following our ongoing discussions (git-submodules etc).

[2018-11-06 16:55] #86 closed

[2018-11-06 23:05] #65 closed

[2018-11-06 23:06] #61 closed

[2018-11-07 09:05] dev-zero commented on #10
this is solved in both build systems, then

[2018-11-07 09:05] #10 closed

[2018-11-07 12:00] davydden commented on #61
@dev-zero thanks for the update, I can confirm that `find_package` now works in config mode.

p.s. I was a bit puzzled with `cmake` as I always thought if I set `-DDBCSR_DIR=<prefix>`, it will try to locate the config file in `<prefix>/lib/cmake/dbcsr` but I could not make this work and had to give full path to the fold of `DBCSRConfig.cmake`.

[2018-11-07 17:40] #3 closed

[2018-11-08 14:38] dev-zero commented on #39
It seems that there is no Doxygen to FORD converter atm.

The simple documentation entries (single `\brief`) can be easily converted:

[code]

the reminder (~700 functions) seems to be a bit harder.

What I tried so far is to use a XML output Doxygen configuration:

[code]

to get a list of XML files.

After that, one can iterate through those and get for each function the complete documentation p

[2018-11-09 09:59] dev-zero commented on #38
Is this still an issue? With the automated release tarball generation via Travis CI, all future release tarballs will contain Fypp as required.
Futhermore I don't see how we can do that reliably: if `.git` is missing, the only thing we get from `.gitmodules` is the branch for Fypp. Even though Fypp doesn't change much, we could in principal end-up with a different version of Fypp than we've tested

[2018-11-09 10:00] dev-zero commented on #66
@alazzaro I've dropped the namespace'd aliases for C++ as discussed

[2018-11-09 12:42] dev-zero commented on #51
@alazzaro just installed gfortran and openmpi on our tcopt1 (macos high sierra) via brew and building DBCSR now (using `cmake -DUSE_OPENMP=OFF`, just in case you want to try by yourself)

[2018-11-09 13:07] dev-zero commented on #51
I can't reproduce it on macOS High Sierra with OpenMPI-3.1.3, clang-902.0.39.2 and gfortran-8.2.0

@davydden you can still reproduce it with openmpi-3.1.3?

[2018-11-09 13:43] alazzaro commented on #72
@yurivict could you give us more info on how to reproduce this problem? We don't see this problem in any of our tests. Besides the internal tests, now DBCSR is executed by CP2K (see https://github.com/cp2k/cp2k/pull/86 ) which gives a better coverage of the code, although we don't use FreeBSD...

[2018-11-09 14:13] dev-zero opened #91 "[cmake] set -D__ACCELERATE on macOS if building with the Accelerate framework"
is this still needed? https://developer.apple.com/documentation/accelerate/blas suggests that `sdot` in Accelerate returns a `float`, but the `__ACCELERATE` defs suggest a `double`:

[code]

[2018-11-09 14:16] dev-zero opened #92 "[CI] setup macOS testing"

[2018-11-10 09:02] davydden commented on #51
no, i can not. Looks like it was indeed some issue with openmpi

[2018-11-10 09:02] #51 closed

[2018-11-11 16:03] #38 closed

[2018-11-11 17:56] #72 closed

[2018-11-12 16:38] dev-zero commented on #92
PoC is here: https://github.com/dev-zero/dbcsr/tree/feature/ci-testing-scripts

Test failure on Mac: https://travis-ci.org/dev-zero/dbcsr/jobs/454047973
@alazzaro seems we actually have some strange things going on on macOS

[2018-11-13 07:56] alazzaro commented on #92
I see several issues:

1) ranlib warning: it seems we can avoid this message by doing https://stackoverflow.com/questions/44124219/what-does-library-has-no-symbol-mean

in particular:

https://stackoverflow.com/questions/32319369/how-can-i-pass-arguments-to-ranlib-using-cmake#answer-33067038

My understanding is that dbcsr_list.F is just an interface, it doesn't have internal symbols.

2) I don't

[2018-11-17 22:26] alazzaro commented on #92
I have installed DBCSR (develop branch) on my Mac (High Sierra).
I have used brew to install gcc and mpich, plus Mac Command Line Developer Tools.

I noticed that `gcc -v` gives:

Configured with: --prefix=/Library/Developer/CommandLineTools/usr --with-gxx-include-dir=/usr/include/c++/4.2.1
Apple LLVM version 10.0.0 (clang-1000.10.44.4)
Target: x86_64-apple-darwin17.7.0
Thread model: posix
Install

[2018-11-17 22:44] alazzaro commented on #91
From my test on High Sierra, it looks like that we need the __ACCELERATE macro. This is already documented in the Makefile.inc.

[2018-11-18 09:46] dev-zero commented on #91
CMake doesn't set it (yet)

[2018-11-18 10:32] alazzaro opened #94 "Remove conventions checker"

[2018-11-18 16:42] dev-zero commented on #94
???

[2018-11-19 06:42] alazzaro commented on #94
Sorry, it was meant for removing https://github.com/cp2k/dbcsr/tree/develop/tools/conventions

[2018-11-19 06:54] alazzaro opened #95 "Include new prettify"
New prettify from https://github.com/pseewald/fprettify as submodule
Unfortunately, the new prettify "forces" make to always run the target since it always updates the file, even there were no changes!

[2018-11-19 07:54] alazzaro commented on #95
Close with [972f09e](https://github.com/cp2k/dbcsr/commit/972f09eb17c021c4970ddbd08596869b43e88a33)

[2018-11-19 08:32] alazzaro commented on #95
Sure, of course. My first step was to include it...

[2018-11-19 09:44] #94 closed

[2018-11-19 09:48] dev-zero commented on #91
even with `-DACCELERATE` do the tests fail on tcopt1 (High Sierra) and Travis:

https://travis-ci.org/dev-zero/dbcsr/jobs/456879432

[2018-11-19 10:12] alazzaro commented on #91
It seems that it is still failing... Could you try to run makefile?
The only thing I do is to uncomment:

FCFLAGS += -D__NO_STATM_ACCESS -D__ACCELERATE

at the end of Makefile.inc

[2018-11-19 10:13] dev-zero commented on #91
It's ok. Forgot that we also have to define `-D__ACCELERATE` directly for the tests.

[2018-11-19 11:54] dev-zero commented on #91
since the point of `CMake` is to hide away this kind of complexity, I added a different solution https://github.com/cp2k/dbcsr/pull/98/commits/da2a53e51d3a077cb0c24c18a069ee77be33c0b7 which solved the issue on `tcopt1`.

[2018-11-19 12:46] alazzaro opened #99 "Use a centralized DEBUG flag"
Drop all

[code]

....

[code]

[2018-11-19 13:09] pseewald commented on #99
Sometimes we need to debug a given module

[2018-11-19 13:30] alazzaro commented on #99
@pseewald
The problem is that we cannot control the parameters at the compiling time, therefore the code becomes pretty soon untested (have you ever tried to make any of those flags .TRUE.? Believe me, most of the time you will get troubles...)

My proposal is to make them always .TRUE. if NDEBUG is not set by using a centralized parameter

[code]
Locally, for each module, you can have

[code]

In

[2018-11-19 14:07] dev-zero commented on #92
solved via #98

[2018-11-19 14:07] #92 closed

[2018-11-19 14:07] dev-zero commented on #91
solved via #98

[2018-11-19 14:07] #91 closed

[2018-11-19 15:04] alazzaro opened #100 "Checks on CI"
As discussed in PR #97, the proposal is to have all checks in CI for the makefile only, i.e. add CHECKS=1 for the makefile run in CI. Consequently, we will have BUILD_TYPE for CMAKE, where CHECKS=1 corresponds to BUILD_TYPE=Debug.
All other tests can run in Build mode with CMAKE can run in Release mode, i.e. no checks and -DNDEBUG set.

[2018-11-19 16:16] davydden opened #102 "Do not unconditionally print DBCSR STATISTICS and DBCSR MESSAGE PASSING PERFORMANCE"
Looking at [dbcsr_example_3.cpp](https://github.com/cp2k/dbcsr/blob/develop/examples/dbcsr_example_3.cpp) and in [dbcsr.h](https://github.com/cp2k/dbcsr/blob/develop/src/dbcsr.h) I did not notice any way to disable printing

[code]
and
[code]

I hope this is just a missing C/C++ interface, as opposed to hard-coded unconditional output somewhere in Fortran source code.

[2018-11-19 16:36] #100 closed

[2018-11-20 09:56] alazzaro opened #104 "Merge .f90 files to .F (unless they are meant for inclusion only)"

[2018-11-20 09:58] alazzaro opened #105 "Change extension .F -> .F90"

[2018-11-20 10:01] dev-zero commented on #105
not `.f90`?

[2018-11-20 10:05] alazzaro commented on #105
Well, following the gfortran convention, .F90 requires preprocessing.
Currently, we take .F, run fypp and produce .F90 (under obj). The .f90 is used for included files.

[2018-11-20 10:14] dev-zero commented on #105
you're right, sorry

[2018-11-20 12:21] dev-zero commented on #39
the PoC can be found here: https://github.com/dev-zero/dbcsr/tree/feature/convert-to-ford

Run with:
[code]

`fypp` and `cpp` must be in your `$PATH`.

[2018-11-20 13:34] dev-zero commented on #39
As per discussion:

* switching to FORD means removing `doxify` and the part of prettify which does dummy argument reordering and grouping since it interferes with FORD's documentation of arguments
* in my branch I removed empty and redundant Doxygen tags (redundant in the sense that `\history` and `\author` information is also contained in the VCS), I furthermore converted lone `\brief` tags to F

[2018-11-23 16:14] pseewald opened #109 "dbcsr_api module"
We have a dbcsr_api module that contains all dbcsr types and methods. This allows other codes to use DBCSR with a single .mod file. However do we need to write wrappers for everything? Does it not suffice to make symbols from other modules public in dbcsr_api, i.e. something like:

[code]

Even if we need to write wrappers, every method in dbcsr_api.F should be an exact copy of a dbcsr method, and

[2018-11-23 16:36] alazzaro commented on #109
The main reason is to have PRIVATE for internal functionalities, therefore the API is a restricted version of all DBCSR functionalities. As far as I know, the API doesn't introduce any new stuff (please correct me).
Importing stuff from CP2K and put inside DBCSR should be possible. However, my proposal is to add a LA directory where you can use all imported modules from CP2K and still continue to

[2018-11-23 16:38] alazzaro commented on #109
Forget to say, the LA directory should have its own API and unittest (again, like the tensors case)

[2018-11-23 16:40] pseewald commented on #109
Yes but internal functionality can be made private by not making them public in dbcsr_api, so I'm still wondering why we need wrappers.

[2018-11-23 16:46] alazzaro commented on #109
Sorry, I don't understand how you can make them private...
If you have dbcsr_type, for instance, and make it public to external, then people can access internal values, right? Let's, they can access the number of blocks (nblks). So you make internal available for external...
Could you make an example?

[2018-11-23 17:01] pseewald commented on #109
Thank you for the explanation, I do understand now why we wrap types. We just need to make sure that dbcsr_api wrappers are exact replicates of the underlying methods, right now the api routines are sometimes different from the underlying methods i.e. `dbcsr_create_template`, `dbcsr_get_data_p` or `dbcsr_mp_new`.

[2018-11-23 17:03] alazzaro commented on #109
That's true... Actually, we have to wrap everything we need with an exact replica, I agree. Let's keep open this issue...

[2018-11-23 18:50] dev-zero commented on #109
But isn't that a consequence of our semi-OO design? If we would have proper class methods then those could access private types.

[2018-11-23 19:00] alazzaro commented on #109
@dev-zero Yes, true, we have to improve the interface, however that is a lot of work on the CP2K side too, so I would consider a very limited number of changes for the time being...

[2018-11-26 10:10] dev-zero commented on #109
@dithillobothrium fyi

[2018-11-26 11:14] dithillobothrium commented on #109
@alazzaro , There are new types which redefine dbcsr_type, dbcsr_p_type, _distribution...

Ok, if we can use dbcsr_api in internal LA directory, then it is easier to port. I moved Arnoldi API with iterate_matrix.F to LA/.

But I don't think we need to use modules from CP2K (if I understood correctly). If we use them then they should be moved to DBCSR .

[2018-11-26 15:32] alazzaro commented on #109
Again, this is no new stuff... it is a redefinition, which is more restricted (as it is supposed to be for an API). I know, the API can be improved and you are free to propose changes, but keep in mind that any change requires a change in CP2K...
Historically, there were two APIs, which were merged by Ole (see https://github.com/cp2k/dbcsr/commit/c319cb17fa7228b31f66874e3f875bf3171ed98f ).

That's

[2018-11-29 15:26] alazzaro opened #111 "Include dbcsr_acc_device in API"

[2018-12-05 21:28] antoscha opened #115 "CMake bug: cannot configure MPI+CUDA"
Please, apply following patch:
[patch.txt](https://github.com/cp2k/dbcsr/files/2650704/patch.txt)
Otherwise CMake tries to search "CUDA" among "ENABLED_LANGUAGES" which is missing.

[2018-12-06 06:30] dev-zero commented on #115
can you please also post the error message you're getting?

[2018-12-06 08:06] #115 closed

[2018-12-06 14:54] antoscha opened #117 "Two tests are failing when -DUSE_CUBLAS=ON"
[code]

Commands to reproduce:
[code]
CUDA 10.0.130, Kepler architecture.
[LastTest.log](https://github.com/cp2k/dbcsr/files/2653475/LastTest.log)

[2018-12-06 15:05] alazzaro commented on #117
Could you run the same test without CUBLAS and see if they pass? CUBLAS is still experimental in DBCSR...

[2018-12-06 15:13] antoscha commented on #117
Yes, they do. I test features gradually.

[2018-12-06 16:20] dev-zero opened #118 "Building DBCSR with CUBLAS and gfortran-4.8.5 fails"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Built with the command: `PATH="/usr/local/cuda/bin:$PATH" cmake3 .. -DUSE_CUDA=ON -DWITH_GPU=K40 -DUSE_CUBLAS=ON && make` on an up-to-date Centos 7 (therefore gfortran 4.8.5) with CUDA SDK 10
2. See error

Btw, using the hack to get the address of the first element is bad since the array is not guaranteed to be cont

[2018-12-06 16:23] antoscha opened #119 "Improving MPI compatibility"
If DBCSR is linked against MPICH all tests are failing with the error:
`HYDU_create_process (utils/launch/launch.c:75): execvp error on file <TESTNAME> (No such file or directory)`
because MPICH and derivatives require the exact path to executable (see similar issue [here](https://github.com/jeffhammond/BigMPI/issues/12)).
This patch allows tests to be run with both MPI flavors:
[patch.txt](https:

[2018-12-06 16:38] dev-zero commented on #117
possibly related to #118

[2018-12-06 16:45] dev-zero commented on #117
can reproduce with K20X (@alazzaro on our tcgpu1)

[2018-12-06 17:05] dev-zero commented on #117
as discussed on Slack, this fixes the test failures with `dbcsr_tensor_unittest` unittest for me, but not the `dbcsr_unittest2`:
[code]

[2018-12-06 17:12] alazzaro commented on #118
Well, for that we have to move the loop (which is now in the C function) to the Fortran side

[2018-12-06 17:15] dithillobothrium opened #121 "grid initialization in mp_env_obj. Unify dbcsr_mp_new and dbcsr_mp_grid_setup?"
Currently `dbcsr_mp_new` creates `mp_env_obj` abd does not initialize `prow_group` and `pcol_group`
https://github.com/cp2k/dbcsr/blob/d97f28787a62e99c02aec38295bc8d88ea6a40e1/src/mpi/dbcsr_mp_methods.F#L80

This is done by the function `dbcsr_mp_grid_setup`
https://github.com/cp2k/dbcsr/blob/d97f28787a62e99c02aec38295bc8d88ea6a40e1/src/mpi/dbcsr_mp_methods.F#L127

It is not clear, thet one needs

[2018-12-06 17:53] #119 closed

[2018-12-06 18:37] antoscha commented on #117
Confirm that https://github.com/cp2k/dbcsr/commit/d97f28787a62e99c02aec38295bc8d88ea6a40e1 fixes `dbcsr_tensor_unittest`. Thank you, @alazzaro!

[2018-12-06 20:59] #118 closed

[2018-12-06 21:00] alazzaro commented on #117
@antoscha Could you check with my latest commit? Unfortunately, I don't a system where I can reproduce the problem...

[2018-12-06 21:40] antoscha commented on #117
@alazzaro, dbcsr_unittest2 still fails.

[2018-12-07 09:07] pseewald commented on #121
It seems that the subgrids initialized by `dbcsr_mp_grid_setup` are only used together with Arnoldi, so it makes sense that dbcsr_mp_grid_setup needs to be called in addition to dbcsr_mp_new if one needs this functionality.

[2018-12-07 09:17] alazzaro commented on #121
Well, DBCSR uses subgrids during the multiplication too. Years ago the cartesian topology was not available in all MPI implementations, therefore DBCSR had a switch to use or not subcommunicators. Nowadays this is not needed anymore, we can have subcommunicators upfront...

[2018-12-07 09:47] dev-zero opened #123 "libcusmm_unittest_transpose fails with K40"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Built with the command: `PATH="/usr/lib64/openmpi3/bin:/usr/local/cuda/bin:$PATH" cmake3 .. -DUSE_CUDA=ON -DWITH_GPU=K40 -DUSE_CUBLAS=ON` on with two Nvidia GK110BGL (K40c)
2. Run like this: `make test`
3. On the architecture/host/platform: `up-to-date Centos 7`
4. See [LastTest.log](https://github.com/cp2k/dbcsr/fil

[2018-12-07 10:09] shoshijak commented on #123
Hi, looking at the log you attached:

[code]

All transposition are reported `OK`, I don't know why the test reports `622573` transpose errors on only `19 blocksizes * 6 MPI ranks = 114 transpositions`.

Let me see if I can reproduce this ...

[2018-12-07 10:15] shoshijak commented on #123
I don't have access to any K40s unfortunately and cannot seem to reproduce these test results.
@dev-zero have you ever observed this on a K20, K80 or P100?

[2018-12-07 10:21] alazzaro commented on #123
I think this is another evidence of the OOM when using CUBLAS (such as in #117 )

. Indeed, there are 6 MPI ranks, each one is declaring a cublas context. So I have two questions for @dev-zero :
1) do you get the error when cublas is off?
2) have you tried to reduce the number of ranks to 1?

If my guess is correct, then we have to reduce the number of ranks for this test to 1 (these tests are not

[2018-12-07 10:35] dithillobothrium commented on #118
Is there another way to pass an array may be? I think these arrays are always contiguous.

[2018-12-07 10:36] shoshijak commented on #123
I second @alazzaro 's last sentence: all libcusmm tests are on-node anyway, we should run them on just 1 rank

[2018-12-07 10:42] alazzaro commented on #118
Well, the way would be to copy the arrays in a new one or (better) to use the CONTIGUOUS keyword. Anyway, now the problem is fixed by making an external loop in Fortran. The good point is that we check the transposity for every iteration, so we code is even better :)

[2018-12-07 13:32] dev-zero commented on #123
Ok, I changed the cmake test runner for libcusmm to not run the libcusmm tests through MPI.
About the issue observed here: my guess is that it's a spurious error (since I can't reproduce it anymore) due to a missing initialization, fixed by the referenced commit.
For the curious ones: The C++ compilers do not initialize integers to 0, see: https://godbolt.org/z/g6OCcn

[2018-12-07 13:34] shoshijak commented on #123
Shall we close the issue, then?

[2018-12-07 13:49] #123 closed

[2018-12-07 16:30] antoscha commented on #117
The issue with dbcsr_unittest2 seems to be closely related to the number of MPI-ranks used. At my 4-core PC this test passes flawlessly when np < 4, and fails when np = 4. I'm not sure if it's OOM. A dirty hack to make this test passing may be in stating `-DTEST_MPI_RANKS=2` instead of `auto` by default.

[2018-12-11 16:38] alazzaro commented on #117
I think I found the reason of the bug. Actually, there were two bugs:
1) a bug when using a high number of ranks (as you noticed). this was not related to cublas
2) a bug specific for cublas (the sync after every call was missing)

@antoscha Could you test my fix?

[2018-12-11 20:00] antoscha commented on #117
@alazzaro Now works well, thank you! Should I close the issue?

[2018-12-11 20:04] alazzaro commented on #117
yes, please. We will make a new release. Thanks for finding this bug. Hopefully soon (~1 month) we will have a CI for testing the CUDA implementation...

[2018-12-11 20:09] #117 closed

[2018-12-13 13:35] SYFT opened #125 "How to initialize matrix with limited matrix?"
Can we initialize matrix from CSR/CSC format while don't have enough memory store the whole array of  block matrix?

[2018-12-14 09:15] alazzaro commented on #125
Could you elaborate a bit more what you would like to achieve?
DBCSR is distributed, so you can distribute the data over nodes.

[2018-12-14 14:17] dev-zero opened #126 "Fix TravisCI deploy"
instead of the upload we get an "invalid credentials" for the deploy

[2018-12-14 16:33] dithillobothrium commented on #121
I tried to move creation of the grid inside the creation of mp_env, but tests are crashing with MPI ABORT. Currently I reverted these changes and added manually creation and releasing of the grid in the mat x vec test. Now it is working without issues.
https://github.com/dithillobothrium/dbcsr-1/commit/1b24a3c3ebdc105116b67997643f70d30871b180

So, the problem in this issue is more complicate.

[2018-12-17 03:41] SYFT commented on #125
It seems that we can only use dbcsr_put_block to initialize each block matrix while we should pass data as array. But what if we don't have enough memory to store the whole array (because it has too much zeros)? Can we initialize each block matrix with CSR/CSC format?

[2018-12-17 10:08] SYFT commented on #125
Thanks. I confused the concept of the "block".

[2018-12-17 10:08] #125 closed

[2018-12-18 13:05] dev-zero commented on #126
finally solved with commit d03f22f (and tested with a temporary tag)

[2018-12-18 13:05] #126 closed

[2018-12-18 13:28] dev-zero opened #129 "Verify numerical primitives"
Out of interest I was looking into the code of CP2K to check how the L2-norm of vectors is calculated.
I got the 3 equivalent forms `sqrt(x(1)*x(1) + ...)`, `sqrt(x(1)**2 + ...` and `sqrt(dot_product(x,x))` but not many usages of the F2008 built-in `norm2`.
Being curious I looked at the machine code a typical compiler generates (see https://godbolt.org/z/c5H1Ih for a comparison of the different va

[2018-12-19 09:06] hfp commented on #129
@dev-zero Fortran built-ins are preferable. I can only find two reason for not using the intrinsics:

* Insufficient functionality (e.g., Kahan compensation needed, or low-accuracy approximation sufficient)
* Limited portability (e.g., not available in F2008 standard)

For the latter point, we can use `__F2008` preprocessor definition (at least somewhat introduced in CP2K's sources). However, this

[2018-12-19 09:52] dev-zero commented on #129
@hfp thank you very much for the details. So it is indeed something which should be done at some point.
For providing wrapper functions: built-ins seem to get inlined anyway, while functions from different compilation units don't unless you use LTO (or the `forceline` directives for Intel or Cray). Any guidelines on how to solve this in a portable way?

[2018-12-19 10:30] oschuett commented on #129
The `NORM2` intrinsic was added in gfortran 4.6. We know from the user survey that basically everybody uses gfortran 4.8 or newer. For ifort most people use the 17. version. So, it seems we can simple start using `NORM2`.

[2018-12-19 12:23] dev-zero commented on #129
@oschuett `norm2` was just an example, but for CP2K I just updated the [coding conventions](https://www.cp2k.org/dev:codingconventions) with this example and made some changes to match reality (like F2008 compatibility, MPI-3 standard).

[2018-12-19 13:19] oschuett commented on #129
Yes, most of Fortran 2008 was already [supported](https://gcc.gnu.org/wiki/Fortran2008Status) in gfortran 4.8. So, thanks for updating the conventions. Should we then also get ride of `-D__F2008` ?

[2019-01-02 15:10] alazzaro opened #130 "Remove INTENT(OUT)"

[2019-01-04 10:43] shoshijak opened #131 "DBCSR unittests don't use the libcusmm backend much"
The DBCSR unit tests provided (`tests/dbcsr_unittest1.F` and `tests/dbcsr_unittest2.F`) do not make much use of the `libcusmm` CUDA backend, as shown in these excerpts from the tests' output (`ACC` column almost always = 0):

**dbcsr_unittest_1**
[code]

**dbcsr_unittest_2**
[code]

Moreover, the matrix multiplications run on the CUDA backend in these two tests always have sizes with `m = n = k`.

[2019-01-07 08:32] hfp commented on #131
I wonder if a compile-time option can help which forces a specific backend (ignoring any thresholds or heuristics that may pick one over another backend)? Or more specific, is there anything that prevents to run cuSMMs in certain cases?

[2019-01-07 08:41] alazzaro commented on #131
@shoshijak Thanks for pointing out this issue. Yes, you are right, those tests are not meant for testing the blocks, rather for the entire DBCSR infrastructure. Anyway, this is can be fixed in the future by adding a new test with more reasonable block sizes. Note that the current CI doesn't test the GPU anyway...

@hfp No, there is nothing to decide if it is worth to run on the GPU or not. Basical

[2019-01-07 08:44] shoshijak commented on #131
@alazzaro even though the current CI doesn't test the GPU-backend, having a more complete DBCSR unit test would be advantageous, be it only for local testing.
Do you see any downside to adding some "more reasonable block sizes" to the test?

[2019-01-07 08:48] alazzaro commented on #131
@shoshijak Sure, we can add a unittest3 which changes the block sizes and use the current unittest infrastructure.

[2019-01-09 12:41] mkrack opened #133 "USE libxsmm without ONLY in dbcsr_toollib.F"
/home/krack/github/mkrack_f2008/cp2k/exts/dbcsr/src/utils/dbcsr_toollib.F:208:10:

   USE libxsmm
      1

Warning: USE statement at (1) has no ONLY qualifier [-Wuse-without-only]

[2019-01-09 13:17] dev-zero commented on #133
@hfp  Introduced in dc17ef00436d8a00f88feea7f2d2e43a2f43b47c, could be restricted to `USE libxsmm, ONLY: libxsmm_hash` or am I missing something?

[2019-01-09 13:18] alazzaro commented on #131
Is this issue closed now that PR #132  has been merged?

[2019-01-09 13:20] shoshijak commented on #131
Yes, sorry, I thought it would close it automatically

[2019-01-09 13:20] #131 closed

[2019-01-09 13:22] dev-zero commented on #131
@shoshijak [for future reference](https://help.github.com/articles/closing-issues-using-keywords/) ;-)

[2019-01-09 13:22] alazzaro commented on #133
I think so, it is an easy fix. Note that it is part of our conventions (see https://github.com/cp2k/dbcsr/blob/develop/CONTRIBUTING.md ), even if we don't enforce them...
At this point, DBCSR is more relaxed than DBCSR...

[2019-01-09 14:16] mkrack commented on #133
No doubt, easy to fix, just wanted to leave it to the DBCSR developers if they want to follow such convention.

[2019-01-14 10:24] #133 closed

[2019-01-14 10:36] alazzaro commented on #130
Yes, this is true and I understand all concerns. Actually, in the past I have problems only with POINTERS marked INTENT(OUT)...

[2019-01-14 11:51] dev-zero commented on #130
can you elaborate?

[2019-01-14 20:36] alazzaro commented on #130
It was a bug in the compiler (Intel), the INTENT(OUT) for a POINTER was giving an error at the call of the function (the problem was that the pointer was undefined and the compiler was ignoring the INTENT). Currently, a trivial grep gives me 4 calls for such a case:

[code]
Therefore it is not that common...

We can keep the INTENT, so we can close this issue.

[2019-01-14 20:36] #130 closed

[2019-01-23 13:03] alazzaro opened #138 "Move FYPP check in Makefile only for compilation targets"

[2019-02-01 09:26] dev-zero opened #141 "DBCSR hangs with OpenMPI >= 3.1.0"
given that there are now several releases of OpenMPI >= 3.1.0 we may have to investigate to either fix the problem on our side (if there is one) or report an issue upstream with minimal reproducer

[2019-02-07 17:02] alazzaro opened #144 "Include MatrixSwitch mention in the documentation"
MatrixSwitch website: https://e-cam.readthedocs.io/en/latest/Electronic-Structure-Modules/modules/MatrixSwitch/readme.html
Wiki: https://esl.cecam.org/MatrixSwitch

[2019-02-13 08:09] shoshijak opened #145 "Commits from PRs #140 and #143 are not visible on develop branch"
I merged PRs #140 and #143 to `develop` 2 days ago but cannot see the commits of these PRs in develop ... any idea why that is?

[2019-02-13 08:47] shoshijak commented on #145
I've pushed the branches corresponding to these PRs back to my fork of DBCSR in case:
- [branch](https://github.com/shoshijak/dbcsr/tree/fix/perf_issue) of #140
- [branch](https://github.com/shoshijak/dbcsr/tree/fix-build-tests) of #143

[2019-02-13 09:52] dev-zero commented on #145
@shoshijak is it possible that you accidentally force-pushed yesterday to the `develop` branch?

The GitHub events (via the API) shows the following:

[code]

so it seems that after the merge on 2019-02-11 there is a second push on 2019-02-12 from your account which reverted the HEAD of develop to an earlier commit (hence, no commits in the push).

[2019-02-13 10:09] dev-zero commented on #145
I enabled the base protection of the `develop` branch now (no force pushes possible anymore).

You can either directly push to the DBCSR `develop` branches now (`git checkout fix/perf_issue; git push upstream develop; git checkout fix-build-tests; git rebase upstream develop; git push upstream develop` given you have configured github.com/cp2k/dbcsr.git as `upstream`) or redo the PRs.

[2019-02-13 10:13] shoshijak commented on #145
You're right, that's probably what happened. I'm very sorry for this oversight.

Thanks!

[2019-02-13 11:10] shoshijak commented on #145
done :)

[2019-02-13 12:31] alazzaro commented on #145
@shoshijak is the current develop in sync with all your stuff? Are you planning for any other developments? If no, then we can proceed to make a new candidate release and push to CP2K...

[2019-02-13 12:35] shoshijak commented on #145
Yes it is. I am not planning any further developments concerning the Machine Learning stuff right now.

As far as I'm concerned, that's okay. My only concern is that I'm leaving on holidays tomorrow until the 1st March, so if some troubles come up in the integration with CP2K, I won't be very reachable until March.

[2019-02-13 12:43] alazzaro commented on #145
Great!
Well, it is incremental... First, I do a RC-1.1, then I will change the CP2K on daint to link to it, see what it does and eventually open a PR for CP2K... My assumption is that v1.1 is only for the GPU tests, i.e. Daint, so we don't need to worry about the other tests...

[2019-02-13 12:51] shoshijak commented on #145
I understand.
If you would like to get started on the steps you described, that is of course fine by me.

My concern is that if some issues do show up, they will most likely be mine to fix (the biggest changes between v1 and v1.1 of DBCSR are due to me), and so your issues might be left hanging until I can give them my full attention on the 4th March. That being said, please feel free :)

[2019-02-13 15:55] #145 closed

[2019-02-20 09:59] alazzaro opened #146 "libsmm inclusion in the documentation"
See https://github.com/cp2k/cp2k/issues/212

Libsmm has to be exaplained (and possibly the code has to be improved). We have to explain when (instead of libxsmm, for instance) and how to use the library. Include an explanation on how to add a new backend (currently we support BLAS, libsmm, libxsmm).

[2019-02-20 16:35] alazzaro opened #147 "CI for GPU"
This is a place holder for discussion, we really need to implement a CI for GPU.

[2019-02-22 14:09] dithillobothrium commented on #32
I wanted to do that but there were some difficulties. Temporarily I created separate functions
https://github.com/dithillobothrium/dbcsr-1/blob/1c36e71ea275ffb767998ef51dee11634e79de3b/src/dbcsr_api.F#L466

[2019-03-04 08:27] shoshijak commented on #147
I very much agree.
Are there any current obstacles that need to be lifted in order to get a CI for GPU and what needs to be done?

[2019-03-04 08:53] dev-zero commented on #147
my plan is/was:

* Jenkins CI at CSCS to run on Daint GPU partition: Jenkins is ready, only needs configuration. Since it is tied to projects (s238, g90), only me, Jürg and Alfio have access to those instances atm (+Patrick for the s238).
* Jenkins CI at HutterGroup infra: Host is there, only have to install a Docker image of Jenkins and configure it. Testing on tcgpu1 or tcgpu2 using the Nvidia D

[2019-03-04 08:55] shoshijak commented on #147
Great. If there's something I can help with, do let me know.
Good luck with the approaching deadlines :)

[2019-04-09 05:53] yurivict opened #150 "Tests fail and hang on FreeBSD"
The ```test``` target prints this and hangs:
[code]
It doesn't appear that anything is running.

FreeBSD 11.2
```dbcsr-1.1.0``` installed from the port.

[2019-04-09 09:54] alazzaro opened #151 "maximum kernel size"
Remove check for maximum kernel size in dbcsr_acc_operations.F, take maximum size from libcusmm.

[2019-04-11 10:46] dithillobothrium opened #156 "Move vectors from CP2K to DBCSR"
This is about to move matrix -vector operations  from CP2K to DBCSR

[2019-04-11 10:59] dev-zero opened #157 "[cmake] verify Python installation"
`CMake` should check all requirements to give meaningful error messages instead of the build failing later. Currently it does not check for Python and/or Numpy:

[code]

[2019-04-11 11:00] dev-zero commented on #157
... furthermore, CMake should favor Python 3 over 2 if both are available but Python 2 is the default interpreter.

[2019-04-11 12:58] dev-zero commented on #150
which vendor/version of MPI do you use?

[2019-04-11 13:47] dev-zero commented on #147
Progress report: I have a PoC running with the following Jenkins (@CSCS) pipeline configuration:

[code]

[code]
 What's left:

* GitHub integration
* Decide on how and where to store the `job.sh`
* Figure out how to get the actual test output back to Jenkins (probably a `readFile` + `echo`)
* Handle slurm errors properly (it seems that when the job gets killed due to the timelimit `sbatch` still

[2019-04-12 13:33] alazzaro opened #160 "Add tests for ops directory"

[2019-04-12 13:43] dev-zero opened #161 "[ci] use libxsmm when doing CI on Piz Daint"

[2019-04-12 13:44] dithillobothrium commented on #160
which functions should be tested?

[2019-04-12 13:56] alazzaro commented on #160
You can add a new test for the coverage. The current situation is:

https://codecov.io/gh/cp2k/dbcsr/tree/develop/src/ops

dbcsr_io is not tested, but for the moment it is not important (this part of the code has to be changed).

[2019-04-15 13:37] dithillobothrium commented on #32
I removed extras/ to core/ and added creation printing and destroying timers in dbcsr_lib. But now it is impossible to call these function from dbcsr_init_lib() because to create timers one needs a grid and communicator. One of the ways could be to create wrapper function "dbcsr_init(finlaize)_lib" (may bi in dbcsr_api) which takes communicator and grid as a parameter to create timers.

[2019-04-16 13:38] dev-zero opened #167 "[libcusmm] check Python dependencies in requirements.txt"
We get another security warning by GitHub for one of the packages mentioned in our `requirements.txt` (`jinja2==2.10`). This should be fixed, mostly since it is annoying.

Grepping  the code only shows `jinja2` in the `requirements.txt` but no usage in any other file, the same for other packages on the list, like `kiwisolver`, `cycler`, etc.

Could we reduce the `requirements.txt` to the direct de

[2019-04-17 12:10] alazzaro commented on #167
I still get the security alert on  src/acc/libsmm_acc/libcusmm/notebooks/requirements.txt
Is this expected?

[2019-04-17 12:13] shoshijak commented on #167
I'm sorry, I fixed the warning in `src/acc/libsmm_acc/libcusmm/requirements.txt` and oversaw `src/acc/libsmm_acc/libcusmm/notebooks/requirements.txt`.
I'll fix this.

[2019-04-17 12:20] alazzaro commented on #95
@pseewald @dev-zero What's the status of this issue?
My trick was to do this in the Makefile:

[code]

but I think we can now remove it with the new prettifier, right?

[2019-04-17 13:27] #167 closed

[2019-04-17 13:59] pseewald commented on #95
I still need to fix pseewald/fprettify#34

[2019-04-17 14:01] alazzaro commented on #95
OK, then I will move this issue to v3. No rush.

[2019-04-18 09:50] shoshijak opened #173 "Add #threads, #ranks to DBCSR outputs"
DBCSR provides all sorts of useful information at the start of a run (cf `src/core/dbcsr_config.F`). It would be terrific if it could provide parallelisation information such as number of threads and number of MPI ranks as well, as is provided, for example, when running the performance driver.

This would be extremely useful for improving readability when performance debugging and would also help

[2019-04-18 09:54] alazzaro commented on #173
Yes, good point. Ilia (@dithillobothrium ) is working on including a global communicator in the dbcsr_config (see #171 )

[2019-04-18 10:34] shoshijak commented on #173
Oh great, thanks for the quick response!

[2019-04-26 12:40] dithillobothrium commented on #121
it is postponed because of the
https://github.com/cp2k/dbcsr/blob/22e274011d9b31bbfd851d6eee71a9d102ce0f98/src/ops/dbcsr_test_methods.F#L401

[2019-04-28 19:01] dev-zero commented on #150
Closing this since crucial information is missing. Please reopen when requested information is provided. Possible duplicate of #141

[2019-04-28 19:01] #150 closed

[2019-04-29 08:12] shoshijak commented on #173
@dithillobothrium, now that #171 is merged, is this proposed enhancement easy to implement?

[2019-04-29 10:05] #32 closed

[2019-04-29 10:22] #34 closed

[2019-04-29 11:09] alazzaro opened #175 "Add tensor example"

[2019-04-29 13:02] hfp commented on #34
Is there an interest to get a CP2K PR to accomodate this change?

[2019-04-29 13:17] alazzaro commented on #34
No, it was already not used in CP2K.

[2019-04-29 13:33] hfp commented on #34
At least I need some code changes: https://github.com/cp2k/cp2k/pull/330

[2019-04-29 13:37] alazzaro commented on #34
Oh yes, v2 will require several changes in CP2K...

[2019-04-30 07:15] alazzaro opened #177 "OO Refactoring"
This is a placeholder for future code modifications to OO:
- [ ] (Suggested by @dev-zero ) besides iterators for double-loops, you could also think of
implementing functional style map/reduce functions taking as arguments function classes

[2019-05-02 12:50] alazzaro commented on #102
We have introduced a new function for printing statistics:

dbcsr_print_statistics()

Close via 8ff5de28bb3294c80916d7636c8718dc540165ae

[2019-05-02 12:50] #102 closed

[2019-05-02 13:45] alazzaro commented on #68
@jkn93 We are going to handle this issue. Could you elaborate a bit more on what you want to change?

[2019-05-02 14:01] #138 closed

[2019-05-02 14:10] jkn93 commented on #68
Formally, one would have to transpose matrix B to obtain the trace from the dot-product:
Tr[AxB] = sum_i (A x B)_ii = sum_ij (A_ij * B_ji) = dot(A,B^T).
As I said, the old routine is ok as long as B is real and symmetric.

[2019-05-02 14:12] jkn93 commented on #68
@alazzaro ...or A is real/symmetric

[2019-05-03 07:20] alazzaro commented on #68
OK, thanks for the explanation. I think there was a misunderstanding in my previous request, I was referring to which change to do in the code. The theory is clear, the DBCSR function name "trace" is wrong, actually we evaluate the dot(A,B) != Tr[AxB] in general, as you explained.
So, I agree to rename the function to dbcsr_dot would be a better option. Is that OK?

[2019-05-04 14:25] jkn93 commented on #68
Fine for me...

[2019-05-06 09:17] #68 closed

[2019-05-06 11:49] alazzaro opened #180 "Fortran and C++ OpenMP threads"
As suggested here https://github.com/cp2k/cp2k/issues/338#issuecomment-489568559

[2019-05-06 13:17] dithillobothrium commented on #34
Is cp2k also fixed? Because it does not compile without clusters?

[2019-05-06 13:23] hfp commented on #34
https://github.com/cp2k/cp2k/pull/330#issuecomment-487904329

Perhaps a starting point but there is more work needed.

[2019-05-07 16:25] dithillobothrium commented on #109
#181

[2019-05-08 06:58] hfp commented on #68
I can send a PR for CP2K to accomodate the changes. Let me know what the timeline is for DBCSRv2 in CP2K.

[2019-05-08 07:07] alazzaro commented on #68
I think @dithillobothrium is already working on it as a consequence of PR #181 .
Reasonable we will merge that PR in a ~1 week and finalize the v2.0 just after. Let's wait for that.

[2019-05-08 07:11] hfp commented on #68
Thank you!

[2019-05-15 05:24] #180 closed

[2019-05-22 13:11] pseewald commented on #95
This is fixed

[2019-05-23 13:37] alazzaro opened #190 "Replace MATMUL and TRANSPOSE"
We have some MATMUL and TRANSPOSE that can be optimized with GEMM calls that we can probably optimize (with LIBXSMM or MKL?)

[2019-05-23 14:11] hfp commented on #190
Libxsmm 1.11 (current v1.12.1) significantly improved/updated support for CRAY Compiler (CCE).

[2019-05-23 14:15] hfp commented on #161
Libxsmm 1.11 (current v1.12.1) significantly improved/updated support for CRAY Compiler (CCE).

[2019-05-25 12:53] oschuett opened #192 "Add einsum() API for tensor contractions"
Machine learning libraries have found a nice API for tensor contractions, which is based on the Einstein notation. Examples are [PyTorch](https://pytorch.org/docs/stable/torch.html?highlight=einsum#torch.einsum) and [Tensorflow](https://www.tensorflow.org/api_docs/python/tf/einsum). I guess, it would be rather straightforward to add this to DBCSR as well.

[2019-05-29 16:58] pseewald commented on #192
This would indeed facilitate the use of DBCSR tensors but there are a few things to consider:

1) Not all tensor operations that can be expressed with Einstein notation are supported. This is due to the restriction of the low-level implementations that all operations must map to either matrix-matrix multiplication and/or data redistribution.  Thus the following operations are supported:

   - arbi

[2019-06-04 08:16] dev-zero commented on #147
keeping this open for the CI on our infra

[2019-06-04 10:27] alazzaro opened #194 "Should we consider FPE during testing?"
Should we add -ffpe-trap for testing? Probably only for Makefile.inc when CHECKS=1.

[2019-06-04 10:44] oschuett commented on #194
Yes, please do. FPEs are a powerful and cheap debugging tool, but it only works when the code is generally exception free. In CP2K we enable them for dbg builds.

[2019-06-04 13:58] hfp commented on #194
yes, also some other flags from CP2K's test-builds are useful e.g., runtime check if temporary arrays were created.

[2019-06-06 13:59] tmhuysen opened #196 "Cannot make with GPU flag enabled"
**Describe the bug**
My computer crashes during make.
**To Reproduce**
Steps to reproduce the behavior:
1. After fresh clone run make: `make GPU=1`
2. Was ran in unix
3. No error is produced, the crash prevent me from logging the make output.

**Expected behavior**
I expected my computer to not crash.

**Environment:**
 - Operating system & version : macOS High Sierra version 10.13.6
 - Compiler v

[2019-06-06 14:02] alazzaro commented on #196
sorry, you don't see the error and make is crashing?
HAve you adapted Makefile.inc to your system?

[2019-06-19 06:53] dev-zero opened #197 "[ci] Travis for macOS broken"
seems that `gfortran` vanished from the packages we install

[2019-06-26 16:28] alazzaro commented on #141
As reported here https://github.com/cp2k/cp2k/issues/441#issuecomment-505941960, the problem seems fixed with OpenMPI 4.0.1

[2019-06-28 14:09] dev-zero commented on #197
fixed in 6aec02fcf30c09b9380a6c61dbb00ee6a71ec7a0

[2019-06-28 14:09] #197 closed

[2019-06-28 14:12] dev-zero opened #201 "dbcsr_tensor_unittest: fails with Cray and Intel compiler"
**Describe the bug**

`dbcsr_tensor_unittest` fails on Piz Daint with both Cray and Intel 17 compilers. While the Cray compiler doesn't yield any useful information, I get the following when built with Intel:

[code]

**To Reproduce**
Steps to reproduce the behavior:
https://github.com/cp2k/dbcsr/blob/05fcdbb276072a55788a628e94f424341426577d/.ci/daint.cscs.ch/intel.build.sh
https://github.com/cp2k

[2019-06-28 15:02] dev-zero commented on #201
with `-traceback` there is some more info:

[code]

[2019-06-28 15:03] pseewald commented on #201
Thank you, I'll have a look and try to fix it.

[2019-06-28 15:05] dev-zero commented on #201
... after pre-processing, line 210 in `dbcsr_tas_base.F` is: `CALL dbcsr_tas_copy_distribution(dist, matrix%dist, own_dist)`

[2019-06-29 05:23] alazzaro commented on #196
I'm closing because of missing info. Please reopen and provide info.

[2019-06-29 05:23] #196 closed

[2019-07-01 11:49] dev-zero commented on #201
Interestingly, when building with `-free -stand f08 -fpp -traceback -O0 -debug -check all` I don't get the same error, only warnings about array temporaries being created:

[code]

[2019-07-01 13:41] pseewald commented on #201
I could not find anything wrong in the code. Judging from the error message `An assignment was made from an object of one size to an object of a different size that cannot be deallocated` the problem may or may not be related to `matrix` being `intent(out)` in the subroutine that calls `dbcsr_tas_copy_distribution(dist, matrix%dist, own_dist)` (see also [this](https://software.intel.com/en-us/foru

[2019-07-05 21:39] #109 closed

[2019-07-07 17:44] alazzaro opened #203 "Centralize logging and io_unit"
io_unit must be specified during dbcsr_init_lib and stored in dbcsr_config. No need to resubmit io_unit anytime we call a dbcsr_function

[2019-07-07 19:55] alazzaro commented on #111
close via #202

[2019-07-07 19:55] #111 closed

[2019-07-08 17:51] oschuett opened #205 "Explicitly reset the active GPU device"
Currently, DBCSR assumes that the active GPU device never changes after `dbcsr_init_lib()` has been called. With the arrival of more GPU accelerated libraries in CP2K this assumption will likely break. For example running with two K80 devices lead to several [failures](https://storage.googleapis.com/cp2k-ci/run-cp2k-cuda-k80-df1fc347_report.txt) which are probably related to interference between S

[2019-07-08 18:00] alazzaro commented on #205
That's a good idea... I will include it in v2.0

[2019-07-09 10:35] oschuett opened #207 "std::out_of_range in libcusmm"
I just got a [crash](https://storage.googleapis.com/cp2k-ci/run-cp2k-cuda-pascal-47ba94bf_report.txt) in libcusmm while running `LIBTEST/dbcsr_types_04.inp`. Maybe a race condition?
[code]

[2019-07-09 10:44] alazzaro commented on #207
DBCSR v2 is in RC0, ready for the inclusion in CP2K (@dithillobothrium is working on that).
I propose to wait, likely the problem was fixed with #182 ...

[2019-07-09 11:10] shoshijak commented on #207
@oschuett, thanks a lot for finding this.
@alazzaro, It seems unlikely to me that this has much to do with #182.

Let me see if I can reproduce ...

[2019-07-09 11:28] alazzaro commented on #207
@shoshijak Well, it was only an optimistic try ;)

[2019-07-10 14:08] shoshijak commented on #207
I've tried reproducing on Daint as well as on our test cluster (36 intel CPus & 1 NV100) and cannot reproduce the crash @oschuett observed.
Just inspecting the code, I do have an idea where it could be coming from. I'll investigate a little further and get back to you.

[2019-07-10 14:15] oschuett commented on #207
Let me know how it goes. I've been using a Tesla P4 and 24 CPUs. If you can't reproduce it I'll give it a shot on my setup.

[2019-07-10 14:16] shoshijak commented on #207
Does this test crash consistently in this configuration or did this only happen once?

[2019-07-10 14:49] oschuett commented on #207
I only saw this once with https://github.com/cp2k/cp2k/pull/456/commits/b51172206c3d68aa043d0aaef8466a17a652dd4f. However, I don't expect this do dependent on MPI, MKL, etc. Let me see if I manage to reproduce it.

[2019-07-10 15:19] oschuett commented on #207
I had no immediate success in reproducing this :-/

Nevertheless, I noticed in the [code](https://github.com/cp2k/dbcsr/blob/develop/src/acc/libsmm_acc/libcusmm/libcusmm.cpp#L213) that the `omp critical` regions only protect the writing of the map. What about concurrent reads? I think the proper solution would be a [readers-writer-lock](https://en.wikipedia.org/wiki/Readers%E2%80%93writer_lock). T

[2019-07-10 15:32] shoshijak commented on #207
Thanks for trying! It's probably a race condition that occurs relatively rarely ...

I'm not sure concurrent reads are the problem.
I think what's going on is that there is no protection against destroying a lock and [removing it from the map](https://github.com/cp2k/dbcsr/blob/develop/src/acc/libsmm_acc/libcusmm/libcusmm.cpp#L244) before each and every thread has passed the lock, which requires [

[2019-07-10 16:10] oschuett commented on #207
I think we are talking about the same thing: While the map is being modified (emplace / erase), no other thread should read from it. I actually wouldn't expect many collisions. Hence, just putting the reads into the critical regions as well should be fine. And while we're at it, we could also name the region.

[2019-07-10 18:07] oschuett commented on #207
A simpler and potentially faster solution would be to use a fixed number of locks, say 100, and then use a `hash(m,n,k)` to pick one.

Btw, I think `kernel_handles` and `transpose_handles` also suffer from the read-while-modify problem.

[2019-07-11 20:41] #207 closed

[2019-08-01 09:01] hfp opened #212 "C-API improvements"
See suggestions made on top of PR #209.

[2019-08-02 07:00] hfp opened #214 "OpenMP/offload backend"
OpenMP 4.0 introduced offloading to attached devices and made extensions in OpenMP 4.5 (future versions of OpenMP will likely only evolve the offload capability with more advanced features on top of a mature baseline). It can be considered to implement an OpenMP-based backend which is able to offload to GPUs (and potentially other PCI-attached devices). This would be applicable to Fortran and C/C+

[2019-08-07 06:33] hfp opened #217 "Thread number has changed"
When building and running CP2K as POPT variant (any workload), DBCSR complains:

[code]

Apparently DBCSR is built with OpenMP even in case of CP2K/POPT. In `dbcsr_dist_methods.F:204`, `dist%d%num_threads` is set according to the number of OpenMP-threads. The suggestion is not to build DBCSR without OpenMP, but to revise the check about whether the "Thread number has changed" in a broken way. It s

[2019-08-07 07:13] alazzaro commented on #217
This is a bug in CP2K :( Could you tell me where do you get it? In principle, in the popt you should not have any mention of openmp in the arch file...

Yes, the current model has a *static* and not centralized way to handle threads, which is inefficient. So, we have to adapt CP2K to this model.
Let's leave this issue open for any feature activity about threading.

[2019-08-07 07:27] hfp commented on #217
I ran the following `exe/Linux-x86-64-intelx/cp2k.popt tests/QS/benchmark_single_node/dbcsr.inp` (any workload should fail similarly) and built with `make ARCH=Linux-x86-64-intelx VERSION=psmp GNU=1 LIBINTROOT=$HOME/libint/gnu-skx   LIBXCROOT=$HOME/libxc/gnu-skx   ELPAROOT=$HOME/elpa/gnu-skx-omp DBG=1 -j48` (CP2K/master). There was no `-fopenmp` flag present for any of the Fortran translation unit

[2019-08-07 07:40] alazzaro commented on #217
Well, we don't see such a problem on the dashboard...
So, I see that you are using
`VERSION=psmp`
but I assume it is a wrong copy&paste.  Somehow you are enabling OpenMP for DBCSR... Could you confirm that during the compilation you don't see any -fopenmp?

[2019-08-07 07:54] hfp commented on #217
Edited - indeed copy/paste issue (PSMP->POPT). I will find out why I am getting this while the Dashboard configs seem to be clean.

[2019-08-07 09:40] hfp commented on #217
Maybe I understand this incorrectly, but looking at [https://github.com/cp2k/dbcsr/blob/develop/src/dist/dbcsr_dist_methods.F#L45](https://github.com/cp2k/dbcsr/blob/develop/src/dist/dbcsr_dist_methods.F#L45) seems to pull-in routines from the OpenMP runtime and later calling e.g., `OMP_GET_MAX_THREADS()`. Should this be guarded by `#if defined(_OPENMP)`?

[2019-08-07 09:42] alazzaro commented on #217
Well no, in Fortran is enough to have

!$

at the beginning of the line...

[2019-08-07 09:44] alazzaro commented on #217
Would it be that you are linking to OpenMP libraries, even if the flag -fopenmp is off?

[2019-08-07 09:44] hfp commented on #217
This also works if OpenMP is linked but not enabled at compile-time?

[2019-08-07 09:45] hfp commented on #217
Yes, but that's "normal" I think. Though, OpenBLAS or MKL could pull-in OpenMP runtime as well.

[2019-08-07 09:53] alazzaro commented on #217
So the assumption here is that we get OpenMP in DBCSR even if a compile-time we don't ask for it just because we are linking OpenMP libraries...
Could you try to avoid OpenMP everywhere (i.e. including linking) and see if this is the culprit?
From what I can say, POPT tests do not use OpenMP at all *everywhere*.

[2019-08-07 09:57] hfp commented on #217
Yes, that's the reason for Dashboard being clean. My POPT indirectly links against the OpenMP-runtime. I will double-check that this is the root cause and report back.

[2019-08-07 10:01] alazzaro commented on #217
Assuming that you find the reason in the linking, then we can proceed to use _OPENMP macro and see if it works

[2019-08-07 10:50] hfp commented on #217
I am now getting linker errors about missing OpenMP symbols. I will resolve this over the course of today and build a non-OpenMP POPT. Stay tuned.

[2019-08-07 11:25] hfp commented on #217
Let me collect my findings. The problem already seems to be present at CP2K level (`GLOBAL| Number of threads for this process                                   48`) likely because CP2K uses OpenMP runtime in a similar fashion:

[code]

[2019-08-07 11:32] alazzaro commented on #217
Well, not a surprise since DBCSR was part of CP2K ;)
We can add a check for that and stop if this is the case, but I wonder if there is a problem during the preprocessing then... I mean, OpenMP should be off because we are using

!$

macro during the compiling time, so I don't see why it can be used at runtime.
@dev-zero Do you have any idea for that?

[2019-08-07 12:04] hfp commented on #217
Ok, I found the root cause: I am using `-fopenmp-simd` which does *not* enable OpenMP support for multithreaded applications. This was decided when OpenMP introduced SIMD support, and the objective was to allow indepenent opt-in for both facilities. For instance, `-fopenmp-simd` does not implicitly define `_OPENMP`. However, at least GNU Fortran enables lines like `!$      USE OMP_LIB, ONLY: omp_g

[2019-08-07 12:10] hfp commented on #217
I understand that `-fopenmp-simd` has no adoption (yet) in CP2K/DBCSR and it is implicitly enabled by `-fopenmp` (as opposed to the other way around). Anyhow, I think with this it would be almost overly cautious to protect calling `omp_*` with `#if defined(_OPENMP)`. However, there are likely not too many lines and someone may decide about it...

[2019-08-07 12:13] alazzaro commented on #217
No really, we use !$ every in the code! Is this with a recent GCC compiler?

[2019-08-07 12:15] hfp commented on #217
I used GNU Fortran 8.3 i.e., the latest valid version for me (side note: 9.1 fails tons of CP2K's regtests).

[2019-08-07 12:21] alazzaro commented on #217
The man page says:

[code]

so it is clearly a bug in GCC during the preprocessing... Anyhow, I think the problem is understood, and it is no related to DBCSR (it is CP2K), but let's leave the issue open for future threading activity in DBCSR...

[2019-08-07 12:28] hfp commented on #217
Thanks!  The fix for me is also easy, I will just pull-off the `-fopenmp-simd` in case of POPT (or similar). This way, I can proceed building POPT with some libraries being MT. In fact, I am planning to enable a race-free (synchronized) batch-processing of SMMs using libxsmmext in particular for POPT.

[2019-08-14 18:02] hfp commented on #214
https://github.com/hfp/dbcsr/tree/develop/src/acc/openmp (work in progress)

[2019-09-01 22:08] alazzaro opened #229 "Bug in dc_memzero_cu"
Reported by @dithillobothrium

The function shifts the lower bound first_byte to match C index:

https://github.com/cp2k/dbcsr/blob/b74fd48df581ea04c58e64275a92efb9c1f7d97b/src/acc/dbcsr_acc_devmem.F#L459

However the function is called at:

https://github.com/cp2k/dbcsr/blob/b74fd48df581ea04c58e64275a92efb9c1f7d97b/src/block/dbcsr_block_operations.F#L1265

already with a shifted value. Therefore

[2019-09-10 13:10] alazzaro opened #231 "Reintroducing check on number of communicators"
See https://github.com/cp2k/cp2k/issues/546

[2019-10-15 06:29] vitesselin opened #238 "test_square_sparse_rma.perf test in make test"
**Describe the bug**
When I use the v2.0.0-rc7 tag to run the make test in CUDA version but the test will be stuck in test_square_sparse_rma.perf. How much time will it finish or it justs stucks?

**To Reproduce**
Steps to reproduce the behavior:
1. Built with the command: 'v2.0.0-rc7'
2. Run like this: 'make test'
3. On the architecture/host/platform: 'Ubuntu 18.04.2 LTS' with nvidia 1080ti GPU c

[2019-10-15 06:42] alazzaro commented on #238
Unfortunately, the problem is OpenMPI, which is buggy with RMA...
Do you have any change to use mpich?

[2019-10-15 06:55] alazzaro commented on #238
BTW, I see that you are using a single node. Could you check without MPI, i.e.

cmake -DUSE_MPI=OFF -DUSE_CUDA=ON -DUSE_CUBLAS=ON -DWITH_GPU=P100

?

[2019-10-17 03:48] vitesselin commented on #238
@alazzaro
I made some experiments and found somethings.
1. The test can pass when I disable the MPI in cmake setting.
2. It has the same stuck issue if I use command "dbcsr_perf   inputs/test_square_sparse_rma.perf"
3. The mpi mode is not better than non-mpi mode.
Test project /home/soga/dbcsr-v2.0.0-rc7/build-nompi
None-mpi mode--------------------------------------------------------------------

[2019-10-18 12:30] alazzaro commented on #238
For 1 node there is no need to use MPI with DBCSR and the performance is the same (as expected). At this point, my suspicious that OpenMPI is buggy with RMA seems the reason for your problem.
I will keep open this issue to check it better.

[2019-10-24 16:33] pseewald opened #242 "Inefficiencies with large memory pools"
I ran into this issue when testing cp2k/cp2k#581 which is mainly based on DBCSR tensors. After contraction of large tensors, DBCSR multiplication of much smaller matrices takes much more time than with the reference methods that does not use tensors. This must be connected to the memory pools because this inefficiency disappears when I call `dbcsr_clear_mempools()` after all tensor contractions ar

[2019-10-24 17:05] vondele commented on #242
probably because some operations use the full size of the memory buffer, whereas they should be using the size of the data? Might be a good testcase to figure out.

[2019-11-05 14:48] ambmax00 opened #246 "[cmake] DBCSR as external library"
Hi,
I have a few problems getting cmake to integrate the installed DBCSR library into my project:
[code]

This leads however to the following errors:
[code]

Are there any other ways to include it using cmake? Maybe as external project?
Any help would be appreciated.

[2019-11-05 15:46] dev-zero commented on #246
Please note: setting `include_directories` is not necessary, neither is setting a variable `DBCSR_DIR`.

After installing `dbcsr` to a location using `make DESTDIR=/tmp/dbcsr install` the following MWE works here:

[code]

when calling CMake with `CMAKE_PREFIX_PATH=/tmp/dbcsr/usr/local/lib64/cmake cmake ..`
(use the path were you installed DBCSR to).

For C/C++ the following has been verified to w

[2019-11-06 07:50] ambmax00 commented on #246
Ok, it works! Thanks for the help.

[2019-11-06 07:50] #246 closed

[2019-11-06 12:10] dev-zero commented on #246
you're welcome. I've added the documentation to the `README.md` for future reference: https://github.com/cp2k/dbcsr#using-dbcsr-in-a-cmake-project

[2019-11-07 09:38] ambmax00 opened #248 "c interface for tensors"
Hi again,
Are there any plans for making a c interface for the tensor subroutines in DBCSR?
If not, I would be glad to help out on that.

[2019-11-07 09:57] alazzaro commented on #248
Thanks for your collaboration!

Currently, there are no plans to improve the C interface.
The current C interface for the main DBCSR functions is still a prototype. The reason is that, before any C API, we have to improve the Fortran API. Then, ideally, the C API should be automatically generated from Fortran...

We have a quite strict schedule for DBCSR, soon we will release v2.0 (requested by CP

[2019-11-07 10:06] ambmax00 commented on #248
Great, I will start working on it then. I will let you know when I have a first prototype.
Thanks!

[2019-11-07 10:09] pseewald commented on #248
A C interface to tensors is very welcome from my side. Since many of the API routines are written using [Fypp](https://github.com/aradi/fypp)-preprocessor macros, I suggest an automatic translation from Fortran source to C, or to alternatively use a C preprocessor that is equally powerful as Fypp. Otherwise writing and maintaining C prototypes gets rather complicated, for instance [dbcsr_t_put_blo

[2019-11-07 10:12] alazzaro commented on #248
Let's keep this issue open as a placeholder...
I agree with Patrick, that's why I wrote "ideally, the C API should be automatically generated from Fortran..."

However, as a fast start, I propose to write easy prototyping of the API by hand...

[2019-11-07 10:16] ambmax00 commented on #248
Any recommendations for a C preprocessor? I planned on using fypp for C, too.

[2019-11-07 10:24] pseewald commented on #248
That may work, if fypp is used with `--no-folding`, but I'm not sure whether there are other case where fypp generates Fortran-specific syntax.

[2019-11-07 10:30] pseewald commented on #248
To verify, I opened an issue aradi/fypp#4

[2019-11-07 10:33] alazzaro commented on #248
I'm still thinking we should write our own tool, however there are some options:

1) Swig http://www.swig.org/
2) GNU has a way to generate interface (see https://gcc.gnu.org/onlinedocs/gfortran/Interoperability-Options.html

[2019-11-07 11:45] pseewald commented on #248
According to the author of fypp, there should be no problems using fypp for C/C++, so I think going ahead with fypp for the C prototypes is a good strategy.

[2019-11-07 15:40] hfp commented on #229
Should this issue be resolved for v2.0 i.e., CP2K release?

[2019-11-07 15:43] alazzaro commented on #229
v2.1, just after v2.0, in time for CP2K release...

[2019-11-07 15:51] hfp commented on #229
@alazzaro Thank you!  Btw, there is still some potential that issue #214 works out (not sure if in time for DBCSR v2.1). I have essentially finished the backend. Now, the fun part is to get it working in terms of build system, integration with DBCSR and CP2K, and also to get it doing something with at least iGPU.

[2019-11-07 16:19] alazzaro commented on #229
v2.0 would be rc9 (current master) as soon as the dashboard will be happy.
This release is for the Tensor part and ultimately it would be the minimum version for the new CP2K release. Then, we will start to push stuff for v2.1... deadline for that will be the CP2K release (if needed)...

[2019-11-10 14:05] hfp opened #252 "Lapack dependency"
It appears there is no code relying on __SCALAPACK, and I wonder if [https://github.com/cp2k/dbcsr/blob/develop/CMakeLists.txt#L55](https://github.com/cp2k/dbcsr/blob/develop/CMakeLists.txt#L55) should be dropped. Which LAPACK functions are needed/anticipated to be used?

[2019-11-10 19:59] hfp commented on #252
Answered. Confusion about (Sca)LAPACK. Issue originated with library mix that had no lapack but was rather BLAS-only.

[2019-11-10 20:05] alazzaro commented on #252
We have some lapack dependencies in utils/dbcsr_blas_operations.F, which are used for testings (generation of random matrices). Probably we can refactor and remove the dependency...

[2019-11-10 20:11] dithillobothrium commented on #252
not only generation. Also multiplication, I use eigensolver of lapack to test Arnoldi in LA branch

[2019-11-11 08:51] hfp commented on #252
Thank you!

[2019-11-11 10:19] alazzaro commented on #252
I'm reopening this issue. Ideally, we need LAPACK only for the testing, the library itself doesn't need this dependency.

[2019-11-11 10:28] alazzaro commented on #39
@dev-zero Can we close this issue now that FORD is in?

[2019-11-11 13:20] alazzaro commented on #39
Well, let's actually keep this issue open for FORD documentation improvements...

[2019-11-12 08:23] alazzaro commented on #39
- [ ] Add DBCSR version to the report
- [ ] Add link in the README and wiki
- [ ] Include C/C++ files

[2019-11-12 09:26] hfp opened #253 "Support GNU toolchain and Intel MPI"
See closed PR #249.

[2019-11-12 09:30] alazzaro commented on #253
- [ ] Refactor MPI wraps (see for example https://github.com/dftbplus/mpifx)
- [ ] Remove F77 interface
- [ ] Use F08 interface

[2019-11-12 09:40] oschuett commented on #253
I really like your idea of relying on the C API instead of dealing with external `.mod` files.

[2019-11-12 09:52] hfp commented on #253
Of course, this issue is of similar interest for CP2K which invented the `__HAS_NO_MPI_MOD` anyway. However, with CP2K and DBCSR/Makefile all paths are implemented wrt `__HAS_NO_MPI_MOD`. The purpose of #249 was just to bring DBCSR/CMake to the same level. Still, I think CP2K does not document the combination Intel MPI with GNU Compiler properly (it requires mentioned `-D__HAS_NO_MPI_MOD` in the A

[2019-11-12 10:13] oschuett commented on #253
Yes, CP2K should adopt the same solution. It's probably not worth creating a separate library for this. Hence, we should just copy improvements from `dbcsr_mpiwrap.F` to CP2K's `message_passing.F`.

[2019-11-12 10:31] vondele commented on #253
useful reading...
https://www.mcs.anl.gov/~balaji/pubs/2014/eurompi/eurompi14.f08binding.pdf

[2019-11-13 08:36] shoshijak opened #254 "Make CUBLAS the responsibility of `libsmm_acc` and simplify compile options"
In the current state of DBCSR:
1. There are two separate compilation options `-DUSE_CUDA=<OFF|ON>` and `-DUSE_CUBLAS=<OFF|ON>`.
2. In DBCSR code, the macro `__DBCSR_ACC` can take values `1`, `2`, `3` depending on whether 1) CUBLAS and HIP both disabled, 2) CUBLAS is enabled, 3) HIPBLAS is enabled.
3. CUBLAS is handled by DBCSR (see, e.g. [these lines](https://github.com/cp2k/dbcsr/blob/develop/src

[2019-11-13 09:36] alazzaro commented on #254
A fast reply, for the moment.
Please, note that CUBLAS support is still experimental (this answer to your question in https://github.com/cp2k/cp2k/issues/577 ), so any suggestions on how to update it are welcome. Your point to drop a macro is correct, at the beginning the idea was to have a way to test the code without changing the arch files in CP2K (you have to add cublas library).
Then, concern

[2019-11-13 09:47] dev-zero commented on #254
The `CUBLAS` flag (in whatever form) is a remnant of the past AFAIK when `CUBLAS` was not considered stable/mature enough (and was not always available?). If that is not the case anymore then it can go.
When creating the CMake build system I tried to mimic the previous Makefile. When doing so I thought having two booleans (`USE_CUDA` and `USE_CUBLAS`, the latter conditional) would be easier to man

[2019-11-13 10:05] shoshijak opened #255 "CI for the HIP backend"
Testing the HIP backend at CSCS on the NVIDIA GPUs is not possible quite yet:
- on our tesbed Ault: some nvrtc headers are missing in the hipcc installation, so I cannot compile the HIP backend targetting NVIDIA GPUs
- on Daint: the hipcc compiler is not installed. I would like to try to install it manually, but haven't gotten around to it yet.

On the long run, we need CI for the HIP backend thou

[2019-11-13 10:06] shoshijak commented on #255
Linking to PR #241

[2019-11-13 10:37] dithillobothrium commented on #254
From my point of view densification works fine. I think it makes sense to make it default, reduce the code and move CUBLAS call it in libcusmm.

If all the multiplications are working then it changes nothing. Isn't it so?

[2019-11-13 11:34] alazzaro opened #256 "Add a function to query DBCSR version"
See https://github.com/cp2k/cp2k/issues/351#issuecomment-553361010

[2019-11-18 12:53] hfp opened #261 "rename acc_init function"
Rename `acc_init` (ACC interface) as this name conflicts when using Cray Compiler (CCE). It appears OpenACC is enabled by default but has a similar prototype/symbol. The hint about this issue is a relatively unspecific warning message:

[code]

Perhaps `dbcsr_` should used instead or in addition of/to `acc_`. The solution may also impact CP2K.

[2019-11-18 12:56] hfp commented on #261
I guess this should be resolved for 2.0?

[2019-11-18 13:04] alazzaro commented on #261
Adding `dbcsr_` namespace it is always a good idea (we enforce this policy for the API functions).
Concerning CCE, I think we don't see the problem in the dashboard because we don't use it in combination with the ACC. As far I can tell, we don't use it on the CI with the ACC either.

So, at this point, I think you want to have ACC enabled with CCE? Personally, I would not support it (CCE is used f

[2019-11-18 13:06] alazzaro commented on #261
Well, CCE+GPU is not supported, so I would not consider the fix for 2.0... let's keep it for 2.1

[2019-11-18 13:12] hfp commented on #261
Makes sense. Alternatively (or in addition), we could figure out the `-h` setting to disable OpenACC when using CCE/Cray. It is definitely a concern wrt GPU support to have a symbol clash like this.

[2019-11-18 13:16] alazzaro commented on #261
Well, the flag is

`-hnoacc`

I agree, that's the easiest way, let's keep the issue open for future discussion.
For the time being, could you update the CCE flag in the CI?
I will update the dashboard...

[2019-11-18 13:18] hfp commented on #261
ACK, will do!

[2019-11-18 13:25] hfp commented on #261
I will update `cmake/CompilerConfiguration.cmake` to include `-hnoacc`. Btw, I am testing this on Archer.

[2019-11-18 13:34] alazzaro commented on #261
OK, perfect!
Actually, Archer has a pretty old CCE version (up to 8.7.7). With the CCE 9.x (based on LLVM) some of the flags, such as OpenMP, are off by default... Do we consider such a case, @dev-zero ?

[2019-11-18 13:38] hfp commented on #261
Indeed, I use the "latest" 8.7.7.

[2019-11-18 14:05] hfp commented on #261
Hmm, apparently `-hnoacc` is not sufficient at least wrt to the warning. I will disable OpenACC and also suppress CC-1234: `-hnoacc -M1234`. Will try.

[2019-11-18 14:10] dev-zero commented on #261
@alazzaro yes, we're using CMake's facilities to add the dependency for OpenMP which makes it completely transparent for us by simply using `target_link_libraries(dbcsr PRIVATE OpenMP::OpenMP_Fortran)`. Whether the CMake "sanitizes" the compiler invocation (in the sense that we do not automatically build with OpenMP unless requested on compilers which have it automatically enabled) is something I

[2019-11-18 14:21] alazzaro commented on #261
Then it seems a bug of the compiler... I will try on Daint with a new version of the compiler, for the time being your solution is fine... If it doesn't work, then the only way is to change name, pretty annoying...

[2019-11-19 09:34] hfp commented on #214
PR #260 may be reviewed. Limitations are left in the PR's decription. Limitations are worked out preferably using subsequent PRs.

[2019-11-20 10:02] alazzaro opened #263 "Remove makefile from the official documentation"
Since CMake will be the official way to compile the library, and makefile will be only considered for CP2K compilation, I propose to drop any Makefile mention in the documentation and move the Makefile and Makefile.inc within a `.make` directory, leaving the requirement to update Makefile.inc for the developers who want any new feature to be used in CP2K.

Furthermore, we will still use the makefi

[2019-11-20 10:12] dev-zero commented on #263
wrt coverage: CMake accepted [my tiny patch](https://gitlab.kitware.com/cmake/cmake/merge_requests/4048#note_653427) which fixes building with `fypp -n` together with ninja and is now in their nightly release for 3.17.0 :)
So, my plan is to switch to cmake-nightly for the Travis-CI and ninja for the coverage (keeping make for the rest to ensure we don't break any of the two).

[2019-11-20 10:15] alazzaro commented on #263
Great! We will keep make because of CP2K and we need to test it. I will flag this issue as v2.1 then...

[2019-11-20 10:20] vitesselin opened #264 "Hit acc_devmem_setzero: failed in dbcsr/acc/dbcsr_acc_devmem.F:445"
**Describe the bug**
Hit acc_devmem_setzero: failed in dbcsr/acc/dbcsr_acc_devmem.F:445

**To Reproduce**
Steps to reproduce the behavior:
git clone --recursive https://github.com/cp2k/dbcsr.git
commit id: f35f901e4460980aa06757294463a1e6308f8dc9
cd dbcsr; mkdir build; cd build;
cmake -DTEST_MPI_RANKS=2 -DTEST_OMP_THREADS=2 -DUSE_CUDA=ON -DUSE_CUBLAS=ON -DWITH_GPU=P100 -DCMAKE_BUILD_TYPE=Debug ../

[2019-11-20 10:23] alazzaro commented on #264
Could you check by compiling with `-DUSE_CUBLAS=OFF`?
It seems an error due to https://github.com/cp2k/dbcsr/issues/229...

[2019-11-20 14:48] vitesselin commented on #264
Dear Alazzaro,
1. I cannot fix this issue when I change the code that you mention in the #229 .
` CALL acc_devmem_setzero_bytes(area%d%acc_devmem, s*l+1, s*u, area%d%memory_type%acc_stream)`
2. It still hit the fail when I disable the cublas.
cmake -DTEST_MPI_RANKS=2 -DTEST_OMP_THREADS=2 -DUSE_CUDA=ON -DUSE_CUBLAS=OFF -DWITH_GPU=P100 -DCMAKE_BUILD_TYPE=Debug ../
OMP_NUM_THREADS=2 mpirun -np 2 ./te

[2019-11-20 14:58] alazzaro commented on #264
OK, thanks for the clarification, we are trying to reproduce the problem. Concerning this part:

Just to be sure, are you running on a multi-gpu system?

[2019-11-20 15:04] vitesselin commented on #264
Yes, one node with 2 GPU cards.

[2019-11-20 16:46] oschuett commented on #264
Might be a duplicate of #205.

[2019-11-20 17:01] alazzaro commented on #264
@vitesselin

Unfortunately, we don't have a multi-gpu system to try.
We would like to ask you if you try the following patch for replacing the lines

https://github.com/cp2k/dbcsr/blob/f35f901e4460980aa06757294463a1e6308f8dc9/src/acc/dbcsr_acc_devmem.F#L435-L438

[code]

[2019-11-20 17:05] alazzaro commented on #205
Back to this issue, currently we reset the GPU before each multiplication, see

https://github.com/cp2k/dbcsr/blob/f35f901e4460980aa06757294463a1e6308f8dc9/src/mm/dbcsr_mm.F#L429

Should we reset for errors before any GPU calls?

[2019-11-20 17:48] oschuett commented on #205
No, it should be enough to call `dbcsr_acc_clear_errors()` only once when DBCSR gains control.
At the same time you should also call `dbcsr_acc_set_active_device()`. Basically, don't assume that the GPU's state is preserved across different DBCSR calls.

Currently, `dbcsr_acc_set_active_device()` is a public method, which is called by CP2K.  However, the trend e.g. with SIRIUS, seems to be that th

[2019-11-21 03:02] vitesselin commented on #264
@alazzaro
 It still hits the problem and I also print out the length and offset for it.

[2019-11-21 03:09] vitesselin commented on #264
@oschuett
Yes, it looks like similar to the #205.
I observed that DBCSR only did launchkernel in the first device even if I have two or more.
Furthermore, DBCSR allocated device memory in each device not in the first device only.
This issue happend when GPU0 wants to use the memory that allocated in GPU1,2,3...
If this is the scenario that DBCSR wants, DBCSR should enable peer to peer access right

[2019-11-21 08:13] alazzaro commented on #264
Few clarifications:
1. we don't test multi-gpu configurations (see point 3. too)
2. I don't think #205 is related to this bug in the first place. #205 is when you use the library in combination with other libraries that uses the GPUs, for instance in CP2K when it uses Sirius. In your case, you are running the library alone with a unittest
3. the way DBCSR uses the multi-gpu is via multi-ranks, whe

[2019-11-21 08:19] alazzaro commented on #264
I think I got the answer to the problem. Sorry for my ignorance in CUDA threading:

https://devblogs.nvidia.com/cuda-pro-tip-always-set-current-device-avoid-multithreading-bugs/

@vitesselin I assume that 1 thread the code should work fine?

[2019-11-21 08:37] vitesselin commented on #264
@alazzaro

Yes, the issue is always found in process 2 with thread id 1.
For the CUDA threading problem, I have no idea where should I add the SetDevice in the code.

By the way, I also try this in CP2K with 2GPUs in one node.
There are a lot of similar error in regression test so that I think it is similar to the #205.
I can workaround this by adding peer2peer access right for each GPU.

[2019-11-21 08:49] alazzaro commented on #264
Given the fact that it is suggested to set the GPU even per thread (my understanding was that each thread should keep the same GPU of the rank, it turns out I was wrong), I think we can to set the GPU before any CUDA call...
At this point, I wonder if this is something new... we never had a similar problem in the past (even if it was barely tested)... @shoshijak Have you seen a similar problem on

[2019-11-21 09:05] vitesselin commented on #264
@alazzaro

No, I mean to use the api "cudaDeviceCanAccessPeer " to enable the access right to other GPU's resource. You can refer the [link](https://docs.nvidia.com/cuda/cuda-runtime-api/group__CUDART__PEER.html).

[2019-11-21 12:12] #157 closed

[2019-11-21 13:03] alazzaro commented on #263
https://github.com/cp2k/dbcsr/pull/241#issuecomment-557037969

[2019-11-22 03:41] vitesselin commented on #264
@alazzaro
Is there any plan of DBCSR to support the Multi-GPU in one node in the neer future?

[2019-11-22 09:04] dev-zero opened #266 "Building fails with CMake 3.10.2 due to setting properties in OBJECT libraries"
the error message:
[code]

with the culprit here:
https://github.com/cp2k/dbcsr/blob/a74a9fd5e3b07204812ee29b870468e8d2cd4285/src/CMakeLists.txt#L248-L253

CMake 3.10 does not properly support `target_link_libraries` on OBJECT libraries.

We already have a workaround for similar issues in pre 3.12 CMake here:

https://github.com/cp2k/dbcsr/blob/a74a9fd5e3b07204812ee29b870468e8d2cd4285/src/CMakeLis

[2019-11-22 09:07] shoshijak commented on #266
I see ...

Do we have any good/important reason to support cmake 3.10?
If not, I'd suggest we drop it and enforce to cmake >= 3.12. Otherwise, we'd just bbe loading up our CMakeLists with more and more workarounds ...

[2019-11-22 09:12] dev-zero commented on #266
SUSE SLE and openSUSE Leap 15 are still on CMake 3.10 (so, compilation is broken on our systems for now, at least with CUBLAS), Centos 6 and older RHEL probably as well (Centos 7 has 3.14 though) and Ubuntu 18.04 LTS is also stuck at 3.10.

[2019-11-22 09:21] alazzaro commented on #266
I would like to add that default on all cray system is 3.10 too...
I think we have to still support 3.10...

[2019-11-22 09:21] shoshijak commented on #266
After a quick lookup in cmake's documentation, it seems that if we want to keep cmake 3.10, the fix would be:

from: https://cmake.org/cmake/help/v3.10/manual/cmake-buildsystem.7.html#object-libraries.
Seems a little cumbersome but not too difficult.

I would much rather upgrade to cmake 3.12 to avoid adding on workarounds and because, as you say, individual upgrading of cmake is not hard. But if

[2019-11-22 09:27] dev-zero commented on #266
@shoshijak we already have the workarounds in other places, for example here: https://github.com/cp2k/dbcsr/blob/c81cff1b21e614bd64b75b621e01d666b404ebf2/src/acc/libsmm_acc/CMakeLists.txt#L75-L81

[2019-11-22 09:29] dev-zero commented on #266
Given that Cray is also on 3.10 (due to SLE inheritance) I would prefer if we could stay at 3.10 for a little while longer. The Daint CI can also be tuned (by removing the CMake module from the list of modules to load) to prevent regressions

[2019-11-22 09:40] shoshijak commented on #266
Okay, makes sense. I'll try to fix this today.

[2019-11-22 10:43] shoshijak commented on #264
Sorry for chiming in a little late.

I've only worked on 1 multi-gpu node system (Summit), and there, we did what you suggested, namely assign 1 GPU to each MPI rank. To do so, we didn't rely on `dbcsr_acc_set_active_device` as is done at the top of `dbcsr_unittest2`. Rather, this was set directly in jsrun (the job launcher).
Although we did have issues on Summit, I believe we did not encounter th

[2019-11-22 11:05] oschuett commented on #264
IIRC, it should be rather straight forward to assign OpenMP threads to different GPUs.

I believe this will be an important feature in the near future, where we'll see HPC systems with fewer and bigger nodes. In other words, the interconnect between cores becomes increasingly non-uniform and we can no longer tread MPI and OpenMP on the same footing.

... I guess this topic merits an issues on its

[2019-11-22 12:05] alazzaro commented on #264
@vitesselin
Assuming now other issues && Assuming I can run on a multigpu/node and reproduce your problem  (I got access to a system, I have to try there), then I would say, based on what we discussed, I have a plan on how to fix the problem. I want to be conservative: 2 weeks for a fix.

In the meantime, I suggest to use a single OpenMP and use multiple MPI per each GPU (via MPS).

[2019-11-22 14:16] hfp commented on #264
I think CUDA has no association between streams and devices. A single stream could direct work towards multiple devices. What about storing the device-ID within the stream and actually requiring 1:1 wrt stream<->device?

[2019-11-22 14:19] alazzaro commented on #264
@hfp Yes, this is the idea... I must say, we don't need to save per stream, we need to save per rank and apply the setdevice any time we call a CUDA function...

[2019-11-22 14:20] hfp commented on #264
I think it's convenient to store it on a per-stream basis, this also seals the change within the ACC backend.

[2019-11-22 14:44] alazzaro commented on #264
Still, each stream within a rank cannot only access to a single device, so all stream will have the same value... Does the ACC implementation allow to have streams with access to different GPU?

[2019-11-22 16:09] hfp commented on #264
There are not many streams used by CP2K/DBCSR (no big duplication accept one additional integer value for every stream). The alternative to store it in DBCSR (and perhaps in CP2K in some places) would not save much, but worse -- calling set_active_device would be scattered in both source code bases. If it's stored on a per-stream basis, every acc-backend function that takes a stream can call set_a

[2019-11-22 17:20] oschuett commented on #264
IIRC, the scheme goes as follows: Each thread owns a bunch of buffers. Each buffer is associated with a stream.

Back in the days GPUs only had around 8 hardware queues. One could create more streams but they would get assigned to the same hardware queue. Since we were relying on stream priorities, we were afraid to leave this assignment up to chance and decided to only create 8 streams and share

[2019-11-22 17:47] alazzaro commented on #264
Concerning the streams, what you did (@oschuett ) is still OK. NIVIDA didn't change that much since then... There are still 2 copy engines/compute with PASCAL, probably you have more with VOLTA, but we still saturate the PCI bandwidth, so no much gain in optimizing it (I did several times in the past).

From what I understand, the problem is that "whenever" you create a thread, you have to assign

[2019-11-22 17:57] hfp commented on #264
@alazzaro that means you plan to open a parallel region (OpenMP) during initialization and call SetDevice for every thread. This must be true for farming as well (or any potential fork with an own copy of the OpenMP runtime). Anyhow, this would in general allow to share a certain stream across devices. I am just saying that SYCL for instance adopted a different model, where a stream is associated

[2019-11-22 18:01] oschuett commented on #264
I believe, OpenMP threads continue to exist across parallel regions. Hence, the threads should also remember their assigned active GPU across parallel regions.

[2019-11-22 18:04] alazzaro commented on #264
@ole I'm far to be an expert, I'm just reporting what it is written here

https://devblogs.nvidia.com/cuda-pro-tip-always-set-current-device-avoid-multithreading-bugs/

Quoting the bottom line:

`To save yourself from a variety of multithreading bugs, remember: always call cudaSetDevice() first when you spawn a new host thread`

[2019-11-22 18:04] hfp commented on #264
Now that you're rephrasing this, I believe it's not true in general. If the OpenMP implementation would not use a pool of threads (or give workers up after a while), it would probably break.

[2019-11-25 07:04] ambmax00 commented on #248
The C API for tensors is finished, available [here](/ambmax00/dbcsr/tree/feature). You mentioned that there will be changes to the Fortran interface, so should I still make a pull request?
A few comments:
- It only compiles with cmake. I have not yet modified the Makefile
- I added an example for the C interface in /examples
- It supports double, float, and complex types
- I also added a few overl

[2019-11-25 09:32] alazzaro opened #271 "HIP-DBCSR broken with CP2K"
DBCSR with latest changes to enable HIP doesn't work when tested with CP2K, see

https://www.cp2k.org/static/regtest/trunk/cscs-daint-xc50_gpu/CRAY_XC50-gfortran_gpu.psmp.out

The DBCSR is based on latest @shoshijak 's commit (https://github.com/cp2k/dbcsr/commit/a74a9fd5e3b07204812ee29b870468e8d2cd4285).

For the arch file, I've added `-D__CUDA` as described in the Makefile.inc.
I think, the fail

[2019-11-25 09:34] shoshijak commented on #271
thanks for reporting, I'll look into it ... !

[2019-11-25 09:55] dev-zero commented on #271
@shoshijak can you please move those entries to a local `.gitignore` while at it?

[2019-11-25 11:36] #266 closed

[2019-11-25 12:20] pseewald commented on #248
Thanks a lot for the great work. I think we should go ahead with a pull request. You should not worry about future changes in the Fortran API, in that case I will take care of the C interface. I suggest to include the C example in automatic testing such that we notice immediately if the C interface is broken.

Two questions:
- The C example, has it been extracted from the tensor unit test?
- Is th

[2019-11-25 13:12] ambmax00 commented on #248
Okay, I will include the C example in the testing.
- Yes, I just took a bit of the tensor unit test, so I had a reference
- It's similar, but I needed to also pass the array or tensor sizes in most cases, e.g. compare
`c_dbcsr_t_pgrid_create(fcomm, c_dims, dims_size, c_pgrid,
                                     c_map1_2d, map1_2d_size, c_map2_2d, map2_2d_size, nsplit, dimsplit)`
and its Fortran c

[2019-11-25 13:30] alazzaro commented on #95
closed via #270

[2019-11-25 13:30] #95 closed

[2019-11-25 13:38] alazzaro commented on #263
Current Makefile serves for
- [ ] Pretty. We can move it to pre-commit (see https://github.com/cp2k/dbcsr/pull/270#issuecomment-558139568 )

- [ ] Aggressive debugging flags

- [ ] Coverage (see #273)

This is the `make help` output:
[code]

[2019-11-26 02:44] vitesselin commented on #264
@alazzaro
You mentioned this before.

If I disable the DBCSR-ACC, will CP2K support multi-gpu within one node or this problem just in DBCSR?

Thanks,
Vitesse.

[2019-11-26 04:30] alazzaro commented on #264
No idea about CP2K... Probably @oschuett knows better?
In principle (never tried), you can drop GPU DBCSR by removing `-D__DBCSR_ACC` in the arch file.

[2019-11-26 10:19] hfp commented on #271
The function `acc_memcpy_d2h` uses a wrong enumerator: `MemcpyHostToDevice` rather than `MemcpyDeviceToHost`.

---
Unrelated: there are also warnings on Cray about verbose format flags, and some of the translation units contain tabs/ws mixture.

[2019-11-26 10:23] shoshijak commented on #271
@hfp thanks a lot for catching this!

[2019-11-26 10:25] shoshijak commented on #271
I'm now concerned by the fact that my PR passed all tests, despite this mistake.

[2019-11-26 10:29] hfp commented on #271
@shoshijak The OpenMP/offload PR brings a test purely based on the ACC interface. It can/will test every backend. I am planning to make the CUDA/HIP tests also not backend specific. I think for instance the transpose test could just use a different include-path for the "parameters" and stick with fixed triplets for non-CUDA/HIP.

[2019-11-26 10:31] dev-zero commented on #271
@shoshijak don't be, that's normal in a project of this complexity and limited amount of tests. The solution is to come up with a unittest to reproduce the error seen in CP2K...

[2019-11-26 10:34] hfp commented on #271
I think the afore mentioned test already ran into this:
https://github.com/hfp/dbcsr/blob/openmp_acc/tests/CMakeLists.txt#L84

However, I did not knew at that time about the typo in the CUDA backend and was thinking it's somehow a problem along by bits...

[2019-11-26 11:58] #271 closed

[2019-11-27 03:46] vitesselin commented on #264
@shoshijak

I am not familiar with srun, aprun and jsrun, so I survey it for some materials.
Here is the [link].(https://medium.com/@jeffrey_91423/binding-to-the-right-gpu-in-mpi-cuda-programs-263ac753d232)
It looks like we need to add the related piece of code into DBCSR?
[code]

[2019-11-27 13:08] alazzaro commented on #264
So, what you did is exactly what I meant in my comment:

https://github.com/cp2k/dbcsr/issues/264#issuecomment-556981641

By setting `CUDA_VISIBLE_DEVICE` per each rank, you are basically "forcing" each rank to see a single GPU, so no assignment is needed in the code.

Clearly, this is a workaround and it cannot be part of the DBCSR test as it is. For instance, what about you have more ranks than

[2019-11-28 07:56] alazzaro commented on #271
For the record, CP2K passed all reg-tests on Daint with this DBCR fix.

[2019-12-05 13:00] ambmax00 commented on #248
I have a few other more general questions, so I'm using this thread here. I'm writing a nicer C++ wrapper class for the underlying C API, in order to avoid all the void pointer stuff, so I wondered about a few things.
1. In all examples, we are using "random" distribution vectors to create our dist object. But what other possibilities do we have? What about cyclic distribution?
2. At the moment wh

[2019-12-10 09:35] vitesselin opened #279 "hit xTB charges abort"
**Describe the bug**
A clear and concise description of what the bug is, including the stacktrace (if there was one).
Is there any limitation on these two cases?

- [h2o_emd.inp.txt](https://github.com/cp2k/dbcsr/files/3944051/h2o_emd.inp.txt)
- [h2o_rtp.inp.txt](https://github.com/cp2k/dbcsr/files/3944053/h2o_rtp.inp.txt)

I set total number of message passing processes to 2, 4, 8, 12 and only hi

[2019-12-10 10:00] vitesselin commented on #279
Sorry for posting incorrect place.

[2019-12-10 10:00] #279 closed

[2019-12-17 15:17] pseewald opened #280 "Tensor API"
A few things in the [tensor API](https://github.com/cp2k/dbcsr/blob/develop/src/tensors/dbcsr_tensor_api.F) should be improved:

- [ ] document preconditions (e.g. `dbcsr_t_contract` requires that tensors have the same block sizes but `dbcsr_t_copy` does not)
- [ ] implement checks with meaningful error messages (faulty calls to tensor API usually lead to hard-to-track errors deep down in DBCSR)
-

[2019-12-20 13:58] dev-zero opened #281 "Optimize iterators with OpenMP"
@juerghutter did some benchmarking with CP2K comparing same-number of MPI ranks with same number of OpenMP threads and it seems there are some functions (especially iterators) which are completely OpenMP ignorant.

[2019-12-26 12:44] mbanck opened #283 "Shared Library and library/symbol versioning support"
The non-CMake Makefile seems to have minimal support for building a shared libray by passing `LD_SHARED` to make.

However, in order for DBCSR to be (more) useful for external projects, proper shared library support with library versioning (SONAME-handling) would be desirable. I understand that this is non-trivial in CMake due to its (if I am still current) pretty bad support for library versionin

[2019-12-26 13:33] dev-zero commented on #283
Good point. We're already follow semantic versioning for the package version such that changes to existing APIs trigger a major version change (1.x.x -> 2.0.0) while additions to the API require only a minor version change. Although I'm not fully convinced that it's a good idea to tie the library (API or ABI) version to the package version, the easiest way to start would still be to include the ma

[2020-01-24 09:26] shoshijak opened #289 "Building with CMake 3.10 fails since #285"
Building with CMake 3.10 fails since commit [34bfa005e1aba2982707917a499839aea220c764](https://github.com/cp2k/dbcsr/commit/34bfa005e1aba2982707917a499839aea220c764) (PR #285), with a segfault between configuration and generation:

[code]

All PRs subsequent to #285 thus fail the CI test `gnu-cmake-3.10.build`.

Building with CMake >= 3.14 doesn't present any issues.

[2020-01-28 10:30] dev-zero commented on #289
Can reproduce manually on Daint, but not locally, might be [this bug](https://gitlab.kitware.com/cmake/cmake/commit/ab3b549ee0dcd79607f8347a9b69c9b029590fbd).\
Reported to CSCS to forward it to SUSE.

[2020-01-28 13:25] dev-zero commented on #289
OK, it's not only SUSEs CMake-3.10.2, but also the one in Ubuntu Bionic (and therefore in the `nvidia/cuda:devel`. Theo from CSCS sent me the following `Dockerfile` as a reproducer:

[code]

So, we have 3 options:

1. Revert (parts of) the commit
2. Motivate distros to pull a backported patch for the issue
3. Drop support for CMake 3.10

Opinions?

[2020-01-28 13:29] dev-zero commented on #289
oh, and removing `-DCMAKE_CROSSCOMPILING_EMULATOR=""` makes the segfault go away, so it is the cited CMake issue, meaning that before #285 we were not calling the emulator if needed, so the change in #285 is actually correct.

[2020-01-28 14:31] shoshijak commented on #289
@dev-zero, thank you for doing all this research!

It's a good commit, and the code is correct, so I'd be reluctant to revert good code just because of a CMake issue.

A lot of work, and not necessarily our job...
So I'd suggest we:

and upgrade to CMake 3.12, so we can get rid of [these ugly lines](https://github.com/cp2k/dbcsr/blob/develop/CMakeLists.txt#L114-L117).

[2020-01-31 16:43] pseewald opened #291 "Installation Guide: page not found"
The link to the installation guide in README.md does not work.

[2020-01-31 17:46] LStuber opened #292 "CP2K Multi GPU - Multiple GPU contexts created on GPU 0"
**Summary:**

When running the GPU version of CP2K in MPI and multiple GPUs, some undesirable (?) processes are created on GPU 0.

The problem comes from the acc_init function of DBCSR. I noticed it has been removed in the develop branch of DBCSR, but is still in the one CP2K installs. So I want to make sure the issue is known.

**Example:** (nvidia-smi)

[code]

The additional contexts on GPU 0 a

[2020-02-02 16:09] vitesselin opened #294 "Performace: Platform diffrence of ACC_RTC_CALL"
Hi developers,

Is it possible to use the parameters passing mechanism instead of  using runtime compile (RTC).
The performance of CUDA and HIP are different when using the CompileProgram function.
Furthermore, the performance of passing parameters into kernel may not have big performace impact.

For an example, if we use the same sample code in the CUDA and HIP.
[code]

The cost of nvrtcCompilePr

[2020-02-03 08:22] dev-zero opened #295 "cmake: if the BLAS provider is OpenBLAS, ensure we're not linking against a pthreaded version"
pthreaded OpenBLAS breaks at runtime (in a verbose and obvious way). If we detect that the BLAS provider is OpenBLAS we should try `find_package(OpenBLAS ... COMPONENTS openmp)` to override by an OpenMP-parallel or single-threaded version of OpenBLAS if possible.

[2020-02-05 08:39] shoshijak commented on #294
Hi Vitesse,

Indeed, your observations about cost of JIT being a lot higher for HIP than for CUDA match our observations, thank you for reporting this!
By the way, this is consistent with the fact that the `hipcc` compiler is a lot slower than `nvcc`. I have not made precise measurements, but this difference is noticeable.

Since HIP is still relatively young, our hope is that this performance iss

[2020-02-22 10:05] mbernaschi opened #302 "c fails with 4 mpi cuda tasks"
**Describe the bug**
I compiled the latest dbcsr package on a system with two K80 GPU (equivalent to 4 K40).
If I run the dbcsr_example_3_cpp with a single MPI task (mpirun -np 1) or simply without mpi, it works just fine but if I run it with 4 tasks
mpirun -np 4 ./dbcsr_example_3_cpp
I got the following error messages
I'm processor 0 over 4 proc, (0, 0) in the 2D grid
I'm processor 1 over 4 proc,

[2020-02-27 15:36] alazzaro commented on #302
Thanks for reporting this problem, it was a long-standing bug which is not fixed in the current develop branch. Could you test it? Thanks!

[2020-02-27 15:38] alazzaro commented on #292
Thanks for reporting this problem.
This was a long-standing problem, now fixed in the develop branch. Could you test it?

[2020-02-27 15:55] alazzaro commented on #264
It turns out that, as reported in #292, the problem of the multi-gpu was in the context assignment. I did a first attempt to fix this problem. @vitesselin Could you try if this fixes your problem?
I need to improve the code (the current solution is a workaround), but I'm interested to see if we are on the right path... Note that this fix is still not enough for CP2K.

[2020-02-27 17:43] alazzaro commented on #294
This is a single call to the kernel generation, assuming that you run a long simulation, this time should be negligible. AMD is aware of this problem and they are working on it. Nothing we do on our side... Closing the issue, please reopen if you think there is something we can do.

[2020-02-27 17:43] #294 closed

[2020-02-27 20:58] #302 closed

[2020-02-27 20:58] mbernaschi commented on #302
Thanks for the fix! It works just fine.
Thanks again

[2020-02-28 10:37] alazzaro commented on #263
Starting to drop makefile support, leaving it only for CP2K inclusion.
Create branch https://github.com/cp2k/dbcsr/tree/makefile_drop

[2020-02-29 10:28] mbernaschi commented on #302
It works just fine.
Thanks!
Massimo

Il giorno gio 27 feb 2020 alle ore 16:58 Alfio Lazzaro <
notifications@github.com> ha scritto:

--
--- Massimo Bernaschi: Istituto Applicazioni del Calcolo ----
|  IAC-CNR                  | e-mail: massimo.bernaschi@cnr.it |
|  Via dei Taurini, 19     | phone: +39 06 49937350              |
|  00185 Roma - ITALY | fax:   +39 06 4404306                  |
-----

[2020-03-02 10:28] vitesselin commented on #264
@alazzaro
Hi, I can pass all tests with commit "746e46ba667acfa8502ec90c4cfe1121292c8a1f" in develop branch.
I also monitor the nvidia-smi and dbcsr can run two gpu card as well.
repo steps:
[code]

[2020-03-02 10:31] alazzaro commented on #264
This is great, thanks for reporting that!
I will make a RC and update on CP2K.
Then I need to fix the problem of multiple library access to the GPU (see #205)

[2020-03-03 14:04] shoshijak opened #304 "Limit on MPI allocation size is too strict"
DBCSR implements a limit to the amount of data MPI can allocate in one go [here](https://github.com/cp2k/dbcsr/blob/develop/src/mpi/dbcsr_mpiwrap.F#L6082-L6083).

Seemingly, this limit is due to the fact that MPI functions take an int argument for the element count, thereby limiting this value to INT_MAX or less, see an explanation [here](https://github.com/jeffhammond/BigMPI/blob/master/README.md

[2020-03-04 17:19] vondele commented on #304
should presumably be written as
[code]
to avoid overflow. Also
[code]
@alazzaro  is his patch something for vs 2.1.0 ?

[2020-03-04 17:27] alazzaro commented on #304
Well, the length of the buffers is a int_4 (I mean nze elements for instance). We need to change in other places to get full benefit of sending more than 2GB...
My current plan is to have 2.1 for multi-gpu (ETA ~1 week). I would prefer to leave this problem for 2.2...

[2020-03-04 20:49] vondele commented on #304
well, the difference is being able to put 2GB or 16GB (for doubles) per rank on the device. All of DBCSR does the counting in elements, only this place is in bytes (AFAICT)... as we should aim for 1 MPI rank per device (or 1 per node....), this difference in memory usage might be important.

It is a *much* larger task to move all of dbcsr to int_8 (especially because many supporting libs like MPI,

[2020-03-04 21:21] alazzaro commented on #304
I agree with the change. I was not referring to move "everything" to int_8 (yes, a lot of work).
My point is that there can be some places where we have to check if we overflow.
For instance, assuming that you move and allocate that size of data, I've checked where we use the size in bytes:
[code]

For example, file block/dbcsr_block_operations.F:
[code]
Here `s` and `l` are int_4, so it will like

[2020-03-04 21:26] vondele commented on #304
OK, right... so it needs a careful audit.

[2020-03-05 12:47] alazzaro commented on #229
Closing this issue, fixed via #269

[2020-03-05 12:47] #229 closed

[2020-03-06 07:57] alazzaro commented on #289
I agree that we should move to >=3.12. I'm doing it as part of my PR...

[2020-03-06 08:38] alazzaro commented on #201
I think this issue is fixed via #290 , @pseewald is this the case? If so, please close it.

[2020-03-06 09:04] alazzaro commented on #292
Closing this issue via 746e46ba667acfa8502ec90c4cfe1121292c8a1f.

[2020-03-06 09:04] #292 closed

[2020-03-06 09:39] #201 closed

[2020-03-06 09:52] alazzaro opened #308 "Include leak and thread sanitize checkers"
Include in GNU tests:

- [ ] `-fsanitize=leak`

- [ ] `-fsanitize=thread`, check https://gcc.gnu.org/bugzilla/show_bug.cgi?id=55561 and CP2K toolchain

- [ ] Others?

[2020-03-06 14:51] alazzaro commented on #291
Fixed via #307

[2020-03-06 14:51] #291 closed

[2020-03-06 14:55] alazzaro commented on #289
Closed via #307 (now we require CMake > 3.12)

[2020-03-06 14:55] #289 closed

[2020-03-06 14:57] alazzaro commented on #263
Partially done via #307
Still need to consider pretty.

[2020-03-06 14:58] alazzaro commented on #238
Closing this issue, now cmake detects OpenMPI version and avoid to run RMA test if OpenMPI doesn't support it (#307 )

[2020-03-06 14:58] #238 closed

[2020-03-06 14:59] alazzaro commented on #194
Done via #307

[2020-03-06 14:59] #194 closed

[2020-03-06 15:00] alazzaro commented on #54
Partially done for OpenMPI, see #307

[2020-03-06 15:01] alazzaro commented on #141
Closed via #307.

[2020-03-06 15:01] #141 closed

[2020-03-09 00:03] alazzaro opened #310 "GPU test coverage"
It would be good to consider coverage of GPU tests too (currently we do only on travis).
Assuming that we can do on daint, I see that

1. ninja and lcov/gcov are not available on the system (we can install our own versions somewhere)
2. We should avoid direct push to the develop branch (only PR), so that CI-CSCS can run

@dev-zero Any advice?

[2020-03-10 21:07] alazzaro commented on #190
Update:
The MATMUL part is fine.
TRANSPOSE functions are in block/:

dbcsr_block_access.f90
dbcsr_block_operations.F
dbcsr_block_operations.f90

Thanks to @hfp for the dbcsr_block_operations.f90 done!
Still need to complete the other two files...

[2020-03-11 08:41] alazzaro commented on #304
For the reference, I've currently made MPI allocation off by default. It appears to be useless (or worsen) in most of the cases...

[2020-03-11 08:53] vondele commented on #304
OK, but now the other locations that you pointed out, where bytes are counted using 32-bit integers, might fail silently.

[2020-03-11 09:02] alazzaro commented on #304
Yes, the issue is still open for that... Just changed the milestone to 2.1...

[2020-03-11 09:44] LStuber commented on #292
Can confirm, the issue is fixed

[2020-03-13 18:57] asedova opened #314 "question about wrong answers on power9"
Hi all-

Just noticed the warning on the main page about wrong answers with openBLAS 0.3.6 on Power9. Is 0.3.5 ok? OpenBLAS is our only way to run DBCSR on Summit (except for slow netlib)

-Thanks!

Ada

[2020-03-16 13:59] alazzaro opened #315 "Include header check to .h files"

[2020-03-16 14:59] alazzaro commented on #315
This is a bit problematic, we have to include the header in the .h file...
Reopen because of that.

[2020-03-16 15:00] dev-zero commented on #315
I don't understand what you mean, can you please explain?

[2020-03-16 15:12] alazzaro commented on #315
Nevermind, just checked that all .h files have already the right header... closing again, thanks for the fix!

[2020-03-16 15:12] #315 closed

[2020-03-23 10:33] alazzaro opened #318 "Macro `__CUDA_PROFILING` doesn't compile anymore"
One of the nice features of annotating events in nvprof was based on the macro `__CUDA_PROFILING`, however the code doesn't compile anymore:

[code]

@shoshijak Is it something you can fix?
I know that the macro is not in CMake, but it is something we probably want to have it for future performance analysis...

[2020-03-23 10:34] shoshijak commented on #318
Yes, I think I should be able to fix it. Let me take a look ...

[2020-03-26 15:55] alazzaro opened #325 "Temporary arrays checks"
Keeping as a reference

https://github.com/cp2k/dbcsr/pull/322#issuecomment-603811467

[2020-03-26 15:59] alazzaro commented on #325
@hfp The flags are reporting in https://github.com/cp2k/dbcsr/pull/322#issuecomment-603811467 are the same we use in our DBG tests of CP2K?
Then, why we don't get a warning for temporary array creation?

[2020-03-26 16:04] hfp commented on #325
No idea, I always had these messages and noticed nobody else...

I used GCC 8.4, but that is not the key. I will keep a side task to find out.

[2020-03-31 07:43] hfp commented on #264
I still seem to have this problem. Running CP2K/master along with DBCSR/develop may yields `CUDA error: invalid argument` (PSMP binary). The system has a dual-socket CPU with one Nvidia V100 per socket. The problem only appears with multiple ranks and multiple threads per rank and no SIRIUS or such. I may try the workaround adjusting the visible GPUs on a per-rank basis (part of the mpirun command

[2020-03-31 07:45] hfp commented on #264
Btw, I found building the CP2K PSMP binary requires some setup for `ACCFLAGS`. As per DBCSR's `.cp2k/Makefile`, `nvcc` is used to compile for instance `acc/libsmm_acc/libsmm_acc_init.cpp` which relies on OpenMP to implement `libsmm_acc_is_thread_safe` (and hence `ACCFLAGS` shall carry some OpenMP flag). It turns out to be possible instructing `nvcc` to carry-on such flag to the underlying host com

[2020-03-31 07:59] alazzaro commented on #264
So, in general the problem is still there, we have to reset the device per each DBCSR call (and each thread). However, it should work in your setup: do you know which CUDA call is failing?
I did several tests (with multi-gpu) and I don't see any error...

Concerning -Xcompiler, this is correct, you have to add:

NVFLAGS  = $(DFLAGS) -g -O3 -Xcompiler='-fopenmp' --std=c++11

This is not documented.

[2020-03-31 08:01] alazzaro opened #327 "ACCFLAGS and OpenMP"
For OpenMP and CP2K builds with CUDA (via makefile), ACCFLAGS must have -Xcompiler='-fopenmp' added

See https://github.com/cp2k/dbcsr/issues/264#issuecomment-606465049

[2020-03-31 08:10] hfp commented on #264
The problem likely appears with `acc_memset_zero`. Arguments seem to be all sane. I extended the verbose output to cover the stream argument as well, i.e., offset=0, non-NULL buffer, and non-NULL stream (MemsetAsync). The buffer/address at least matches a previous allocation and also looks sane (carrying some meaningful alignment); size of that buffer also matches the previous allocation. I think

[2020-03-31 08:13] alazzaro commented on #264
OK, then this is the topic of the issue https://github.com/cp2k/dbcsr/issues/205

[2020-03-31 09:41] alazzaro commented on #327
@hfp Thanks for pointing out this problem!
Actually, I see the toolchain does the proper setting of the flags, but the standard arch files do not.

I like your idea of adding automatically the Xcompiler, i.e.

[code]

Since the standard arch file doesn't have the OPTFLAGS variable, I would suggest using the CXXFLAGS instead. Therefore, I've added the following lines to the .cp2k/Makefile

[code]

[2020-03-31 09:48] hfp commented on #327
Looks good to me. Sorry, yes the `OPTFLAGS` are outgrown; `CXXFLAGS` are the right thing. I like that your implementation just attempts to sanitize for the case something is missing.

[2020-03-31 09:54] #327 closed

[2020-04-02 22:46] naromero77 opened #329 "Compile time failure of dbscr_performance_multiply.F with GCC 7.5 + possible fix"
**Describe the bug**
Compile time failure of tests/dbcsr_performance_multiply.F with GCC 7.5

**To Reproduce**
Compile-time error occurs on Ubuntu Linux box. Here is my build script.
[code]
The fix is trivial:
[code]

[2020-04-02 22:55] alazzaro commented on #329
What's the error you get? I'm not sure why just removing `...` should fix the problem...

[2020-04-02 23:15] naromero77 commented on #329
[code]

[2020-04-02 23:16] naromero77 commented on #329
I have to admit that I don't quite understand the error and it may just be a compiler bug in GCC 7.5, but this is still the default GCC on recent Ubuntu distributions.

[2020-04-03 12:50] alazzaro commented on #329
So, the problem is that DBCSR_ABORT macro takes the name of the file under the hood. It turns out that for the test files we take the full name (including the path), so likely it will overflow depending on where you compile it (note that we do test GCC 7.3, but we don't see any problem since we use a relatively small path).
So, to fix the problem we have to strip out the path from the test files (

[2020-04-03 15:24] naromero77 commented on #329
It is working now, thanks.

[2020-04-03 15:24] #329 closed

[2020-04-08 17:27] dev-zero commented on #263
done, running pre-commit now triggers fprettify

[2020-04-08 17:33] pseewald commented on #263
Shall we consider running `fprettify` with the same flags as in CP2K? I recommended less aggressive flags before but only because I found `make pretty` annoying, now that it's fully integrated, I think we could also use full whitespace formatting.

[2020-04-08 20:59] alazzaro commented on #263
So, I'm not sure I understand the point here.
The old "make pretty" was based on

[code]

Now, the pre-commit uses the command without --disable-whitespace, so is it what @pseewald is proposing? If so, we can just run pretty with spaces and commit all the changed files at once so that the repo is updated.

[2020-04-08 22:32] alazzaro commented on #263
@dev-zero It seems that the pre-commit has to download the submodule to access prettifier.

[2020-04-09 06:23] dev-zero commented on #263
With the pre-commit integration we could leave it to pre-commit to pull fprettify instead of having it as a submodule. Opinions?

[2020-04-09 07:51] alazzaro commented on #263
OK, I like the idea. Let's do step by step:
1. Patrick is doing a new fpretty release that we will use in the pre-commit (Patrick)
2. we check out the fpretty release and run in the pre-commit (Tiziano)
3. Alfio will update the submodule to the new release, run a pretty with space, remove all references to pretty (old Makefile and documentation) and commit it (Alfio)

Sounds a good strategy?

[2020-04-09 08:00] pseewald commented on #263
I created a new release (v0.3.6)

[2020-04-09 08:23] dev-zero commented on #263
The new pretty is already run and changes checked in.

[2020-04-09 08:37] alazzaro commented on #263
@dev-zero OK, I did pretty in my last commit and found the reason for the difference with the makefile: makefile applies pretty to src and tests directories, while pre-commit does only for src. Could you extend it and include examples too?

[2020-04-09 13:21] alazzaro commented on #263
This is definitely done now (26d58eefa51c6612f617e2fe901b360503fd4a4b)
Thanks @dev-zero and @pseewald !

[2020-04-09 13:21] #263 closed

[2020-04-09 13:40] dev-zero commented on #54
This issue was meant as a meta-issue for implementing the general facility in CMake, which we did: we have examples for both OpenMPI and Compilers. If we have other checks which should be added, let's make them actual issues we can work!

[2020-04-09 13:40] #54 closed

[2020-04-09 14:03] #283 closed

[2020-04-09 14:04] dev-zero commented on #283
@mbanck I hope this is what you requested, if not, please reopen the issue

[2020-04-09 14:07] dev-zero commented on #295
Does it make sense for DBCSR to use a (OpenMP) threaded BLAS at all or should we always be using a single-threaded BLAS since we do threading ourselves?

[2020-04-09 14:11] dev-zero commented on #295
The thing to use an OpenMP-threaded OpenBLAS was always done under the assumption that if we do nested threading (calling a BLAS op from a OpenMP thread it will run single-threaded) it will be of almost no cost. Experience in CP2K although has shown that at least with GNU Fortran the cost can be quiet high: https://github.com/cp2k/cp2k/commit/63f2e15396cd4d5323c594035dca6ba31437099f

[2020-04-09 14:14] alazzaro commented on #295
This is a good question and it is relevant for CP2K too.
The current policy in CP2K (see https://github.com/cp2k/cp2k/blob/master/INSTALL.md#2d-blas-and-lapack-required-base-functionality ) is not use a threaded BLAS. The reason is the nested parallelism. In principle, we can set `OMP_NESTED=false` and the problem should be fixed.
For some BLAS implementations, i.e. Cray libsci, this is automatic

[2020-04-10 07:57] alazzaro opened #332 "Optional argument in dbcsr_distribution_new API"
https://github.com/cp2k/cp2k/issues/856

[2020-04-11 08:58] #295 closed

[2020-04-11 21:02] alazzaro commented on #332
closed via 3fd51f63b4499e55c968ebcc24aab036f208db98

[2020-04-11 21:02] #332 closed

[2020-04-12 08:11] mbanck commented on #283
It certainly helps, thanks! I will try to take a look later on.

I guess it would be easier if a minor version change wouldn't change soname, but as long as DBCSR isn't widely (yet) used it should not be a practical problem.

[2020-04-12 09:09] dev-zero commented on #283
yes, we discussed the issue of which version to include: for now we decided to include the minor version as well since we can't guarantee API stability just yet.

[2020-04-14 10:23] alazzaro commented on #231
closed via 18fcdb1859b51918a14fae8a06d673799bbb61b9

[2020-04-14 10:23] #231 closed

[2020-04-15 08:36] alazzaro commented on #318
@shoshijak
Any update? I would like to close the v2.1 by the end of April, it would be nice to have this issue fixed by then... Please, let me know if it is not possible, we can move it to v2.2

[2020-04-15 09:14] alazzaro commented on #314
Let me try to answer this question. I assume you are using DBCSR in CP2K. Currently, CP2K uses 0.3.7. Shoshana is reporting that 0.3.6 has a problem, so I would assume that 0.3.5 is fine.
In any case, you can run (in order):
1. DBCSR tests
2. the CP2K regtests

Please note that for the OpenMP compilation you need OpenMP-enabled OpenBLAS (we do now check that as result of this PR https://github.com

[2020-04-15 09:14] #314 closed

[2020-04-15 09:36] alazzaro commented on #325
Related to the temporary array, we are currently using the flag `-fcheck=all` in the CI. However, it turns out that the temporary array is a warning, which we don't check.
I've tried to add `-Werror` to promote the warning to an error, but it doesn't work with the `-fcheck`. The only solution is to use `-Werror=array-temporaries`, however now I get a lot of errors in the mpiwrap module, due to mis

[2020-04-15 10:58] hfp commented on #325
I added some CONTIGUOUS keywords in previous PRs, but I cannot remember why I did not cover all cases. I mean worst case (wrapper, etc.), it might be ok to even put my [anti-pattern](https://github.com/cp2k/cp2k/pull/861#issuecomment-613101315) to get some 1-dimensional arrays.

[2020-04-15 12:38] oschuett commented on #325
Since Fortran pointers are generally not contiguous and mpiwrap has many call sites, that [anti-pattern](https://github.com/cp2k/cp2k/pull/861#issuecomment-613101315) would most probably not work. Furthermore, the non-contiguousness is actually a desirable feature which allows for powerful array expressions.

The root problem seems to be that we're passing Fortran 90 pointers to Fortran 77 MPI bin

[2020-04-15 12:47] alazzaro commented on #325
From what I see, most of the temporaries are not critical at all (orders, grids...).
Then, as we discussed in this issue https://github.com/cp2k/dbcsr/issues/253, the plan (in the very long run) is to migrate to a C interface, so that we drop the F77 and multi-compiler problem...

[2020-04-15 13:00] oschuett commented on #325
So, to summaries the temporary copies happen in two cases:
 1. When they are unavoidable due to some complex array expression.
 2. When we call into F77 code, ie. MPI, BLAS, etc.

Since, we want to keep 1. and won't fix 2. anytime soon, I'd suggest we disable the warnings for now.

[2020-04-15 15:55] pseewald opened #336 "Distribution defaults"
I open this issue to discuss how the distribution of DBCSR matrices/tensors should be handled. If possible, DBCSR should provide a default distribution that gives reasonably good load balance for unknown (arbitrary) sparsity pattern.

The current situation is as follows:
1. By default, CP2K uses [basic distribution](https://github.com/cp2k/cp2k/blob/master/src/distribution_methods.F#L843-L894) (DB

[2020-04-16 22:27] alazzaro commented on #308
Thread sanitizer is now included (see https://github.com/cp2k/dbcsr/commit/833941727e5e9c677ac784e048d3a4671679f606 ). It requires to add a [suppression file](https://github.com/cp2k/dbcsr/blob/develop/tools/docker/lsan.supp).
Need to exclude OpenMPI because of some internal leaks.

[2020-04-17 17:18] shoshijak commented on #318
Hi @alazzaro thank you for the reminder, I should be able to fix this next week!

[2020-04-20 09:58] ambmax00 commented on #248
The leak might be related to the fortran string `name`, which is allocated on the fortran side. I'll look into it...

[2020-04-20 10:03] alazzaro commented on #248
Yes, definitely, I was looking at the same problem. Now, if I understood correctly, we cannot delete this variable on the C side? How we can fix this? (sorry, I'm not an expert).

Another problem I found is that the code hangs with 2 (or more) ranks. It hangs after:
[code]

[2020-04-20 10:13] ambmax00 commented on #248
Adding `free(name)` [here](https://github.com/cp2k/dbcsr/blob/490713d390169da94c119aabfde182ddeec798b9/tests/dbcsr_tensor_test.cpp#L412) might be ok. But I don't know how the intel compiler reacts to it. For `char`s it should not be a problem, because a null char at the end that indicates the end of the string. I can't test the intel compiler at the moment, because it won't compile for me since th

[2020-04-20 10:18] alazzaro commented on #248
OK, I will do the change and test it.
I see some warnings, for instance in this sub:
https://github.com/cp2k/dbcsr/blob/490713d390169da94c119aabfde182ddeec798b9/src/tensors/dbcsr_tensor_api_c.F#L101

what happen if `c_tensor_dims` is not pass? Should we declare the array as a pointer?

[2020-04-20 10:32] ambmax00 commented on #248
The array is declared as optional, so if we pass it to another subroutine, and the array is not present, it will also be treated as not present in that subroutine. Some compilers give warnings about it, but since Fortran 2008 and TS 29113, it's okay.

[2020-04-20 11:35] ambmax00 commented on #248
Change the unit_nr from 0 to -1 in both the test and example files to fix the hanging processes:
https://github.com/cp2k/dbcsr/blob/490713d390169da94c119aabfde182ddeec798b9/examples/dbcsr_tensor_example_1.cpp#L335
https://github.com/cp2k/dbcsr/blob/490713d390169da94c119aabfde182ddeec798b9/tests/dbcsr_tensor_test.cpp#L358

[2020-04-20 22:59] alazzaro commented on #248
So, the CI is passing. I did the test with CCE, GNU and Intel. Unfortunately, the Intel compiler gives an error on a free at:

/users/alazzaro/scratch/dbcsr/dbcsr/build/src/tensors/dbcsr_tensor_api_c.F:550

(this is the generated fypp file)

[code]

[2020-04-20 23:30] alazzaro commented on #248
This is the valgrind output:
[code]

[2020-04-21 08:58] alazzaro commented on #248
OK, I went down for another step. The culprit are the bounds variables, i.e. this line:

https://github.com/cp2k/dbcsr/blob/26afdd62a879bbb14ef9f80327a3a2675f79b899/src/tensors/dbcsr_tensor_api_c.F#L419

If I remove that line, the code runs.
My understanding is that these arguments are declared inside the `dbcsr_t_contract` as

[code]

while we use POINTER and nullify them to make then optional. I

[2020-04-21 09:44] ambmax00 commented on #248
Yes, I was just looking at it, and it works for me too. It's really weird.
I have a solution for the name problem, but it needs a few lines, should I do a pull request?

[2020-04-21 09:47] ambmax00 commented on #248
But now GNU is complaining with bounds...

[2020-04-21 09:50] ambmax00 commented on #248
Maybe do something like:
[code]

[2020-04-21 09:51] ambmax00 commented on #248
Ah sorry, you fixed it, I just saw it. Nevermind then.

[2020-04-21 09:58] alazzaro commented on #248
I'm testing a function to free on the Fortran side, please hold on...

[2020-04-21 11:55] alazzaro commented on #248
OK, done. Finally, done. Closing this issue. Thanks!

[2020-04-21 11:55] #248 closed

[2020-04-21 12:22] alazzaro commented on #190
Analyzing the remaining TRANSPOSE, they are not in a critical part of the code (only 2D arrays, which don't use that often anyway). Closing the issue.

[2020-04-21 12:22] #190 closed

[2020-04-21 12:24] alazzaro commented on #104
Done via https://github.com/cp2k/dbcsr/commit/8a5ab3fe8f32e93fa8aa08511d375797195a4770

[2020-04-21 12:24] #104 closed

[2020-04-23 12:26] alazzaro commented on #325
Disable the warnings in CP2K is fine (you did already), however I would keep it for DBCSR just to "annoy" people when the compile in Debug mode (via cmake).
Then, I went a bit more extreme and added the flag `-Warray-temporaries`, so that I get a message when a temporary is created at compiling time. It turns out that there are 2288 temporaries. Basically, GCC is generating a temporary whenever we

[2020-04-23 19:51] oschuett commented on #325
Unfortunately, `-Warray-temporaries` has many false positives. Basically, it warns whenever the frontend inserts a code path that **might** create a temporary. Often the code is later optimized away or never executed because at runtime the pointers are contiguous.

See also [this gcc bug](https://gcc.gnu.org/bugzilla/show_bug.cgi?id=48655) and its duplicates.

Nevertheless, `-Warray-temporaries` i

[2020-04-27 20:51] alazzaro commented on #325
closed via #341

[2020-04-27 20:51] #325 closed

[2020-04-28 12:16] ambmax00 opened #344 "dbcsr_t_get_block segmentation faults with OpenMP"
In OpenMP parallel environments, using `dbcsr_t_get_block` sometimes leads to segmentation faults. The culprit seems to be a pointer with an implicit SAVE attribute:
https://github.com/cp2k/dbcsr/blob/0046876a3d42d9505c7c52f7c2c0512ced4b5929/src/tensors/dbcsr_tensor_block.F#L671
For some reason, this leads to issues when multiple threads call the get_block function. Removing `=> NULL()` seems to s

[2020-04-28 12:19] alazzaro commented on #344
This is clearly a race condition, and we are currently not checking for that (see #308).
I think your change is correct, what do you think @pseewald ?

[2020-04-29 10:45] alazzaro commented on #318
https://github.com/cp2k/dbcsr/pull/340#issuecomment-617015093

[2020-04-29 10:50] alazzaro commented on #66
Added a test via the tensor C API

[2020-04-29 10:50] #66 closed

[2020-04-29 21:17] alazzaro commented on #129
I went to this issue because I'm trying to improve how we evaluate the norms.
It turns out that the case you are mention in https://github.com/cp2k/dbcsr/blob/d03f22f5ad4b497a13e4017f8d0ba5c77801c319/src/ops/dbcsr_operations.F#L2125-L2130 cannot be replaced by `norm2` since this is a "distribute" norm of the entire matrix (see the mp_sum). As far as I can see, the only place where we do a local no

[2020-04-30 06:51] dev-zero commented on #129
@alazzaro thanks for looking into this. If it is ok at this point to not check for under- or overflow, then yes.

[2020-04-30 06:55] alazzaro commented on #129
I'm doing some other replacements, see 021482d23c2e7e48fdbc44f2f5c08f1cc2df5bac. Another one is almost done...

[2020-04-30 09:16] alazzaro commented on #129
OK, after more performance tests, I found that the best performance comes with the DOT function. So, we use norm2 where performance is not critical (dbcsr_filter) and DOT in the other place. Closing via  https://github.com/cp2k/dbcsr/commit/021482d23c2e7e48fdbc44f2f5c08f1cc2df5bac and 44032cfee23f87f616799e87bf15d1a5cd825d59

[2020-04-30 09:16] #129 closed

[2020-05-16 16:56] antoscha opened #351 "GCC 10.1 error"
[code]

[2020-06-04 11:26] ambmax00 opened #353 "DBCSR + libxsmm as external project with cmake"
Hi,
Currently, I am using cmake to compile my project with dbcsr, just as instructed in the installation manual. However, compiling my project with dbcsr + libxsmm gives me  the following errors:
[code]

Adding the following lines to my cmake script:

[code]

And then linking to PkgConfig::deps resolves this issue. But I don't know if it is okay like that?

[2020-06-07 11:35] antoscha commented on #351
Additionally when building inside CP2K:
[code]

[2020-06-23 15:03] dev-zero commented on #351
ok, the mentioned branch above contains fixes for those 2 issues, unfortunately there are more:

[code]

@pseewald @alazzaro ideas?

[2020-06-24 14:59] #351 closed

[2020-06-24 17:29] dev-zero commented on #351
for the record, some requirements are not yet gfortran-10 compatible, like [MPICH](https://github.com/pmodels/mpich/issues/4300)

[2020-06-24 18:00] dev-zero commented on #353
Sorry for the late response and thanks for the issue report.
My guess is that we have to add this to our `src/cmake/DBCSRConfig.cmake.in`, but conditionally depending on whether building against libxsmm was requested.

[2020-07-17 08:16] #175 closed

[2020-07-17 09:34] ambmax00 opened #356 "DBCSR tensor batching"
Hi,
I have a few questions, regarding how to batch tensors.

In my program, tensor contractions are batched in chunks, similarly to how it is done in CP2K, [here](https://github.com/cp2k/cp2k/blob/master/src/hfx_ri.F). The chunk sizes are given by `batch_size` in the input file, e.g. 10 GB. But following issue  #304, a single process can only allocate 2GB at most, such that certain batch sizes abo

[2020-07-17 10:39] pseewald commented on #356
The best way to reduce memory allocation per MPI rank is to use 1 OpenMP thread per rank which should also give best performance. Then you should choose a large enough number of MPI ranks such that your calculation does not run out of memory (or that #304 is not a problem). If you are limited by the available memory or if scaling with number of MPI ranks becomes a problem you can increase the numb

[2020-07-17 13:58] ambmax00 commented on #356
Thanks for the answer.
It really makes more sense to just split the dimensions, I will do that then, too.
By the way, are tensors held in core memory, e.g. the 3c2e integrals? I saw that there are compress/decompress subroutines, but those are not enabled to  write to disk, as far as I can see. I guess reading from disk is a bit expensive, right?

[2020-07-17 17:06] pseewald commented on #356
yes as DBCSR matrices tensors are held in core memory. The compress/decompress subroutines were adapted from our Hartree-Fock code and are not part of DBCSR. I think there is a way in DBCSR to write to disk (`dbcsr_binary_write`) but I have never used it, probably it would be easy to extend it to tensors.

[2020-07-20 12:04] hfp opened #359 "introduce clang-format"
Introduce `clang-format` and reformat files when committed. Please also refer to #358, which mentions the infrastructure to reformat during commit and also the PROS and CONS of a customized code-format (`.clang-format`).

[2020-07-20 12:53] hfp commented on #359
Quick command to concatenate all C/C++ code:

[code]

To reformat the concatenated code from above:

[code]

The custom format is located [here](https://github.com/hfp/libxsmm/blob/master/.clang-format).

It is hard to judge whether one is better than the other (especially since all code is concatenated), however some level of customization might be advisable since the LLVM-style for instance refo

[2020-07-20 12:56] hfp commented on #359
I had to change the file extension to something other than `.c`.

[format.txt](https://github.com/cp2k/dbcsr/files/4947787/format.txt)
[format-llvm.txt](https://github.com/cp2k/dbcsr/files/4947789/format-llvm.txt)
[format-custom.txt](https://github.com/cp2k/dbcsr/files/4947788/format-custom.txt)

[2020-07-20 13:23] oschuett commented on #359
Thanks for the comparison. I'm starting to see your point. While we could certainly change the copyright banner, the reflow of comments is annoying and would require manual rework. And I must admit that having more than 80 chars per line is also very nice.

[2020-07-24 12:50] dev-zero commented on #359
since you also updated the cmake, we could also incorporate `cmake-format`.

[2020-08-14 11:28] mkrack opened #361 "Add -Wconversion-extra to the warning flags"
Conversion warning:
[code]
Unused function?:
[code]
Getting rid of unused parameter routineP
[code]

[2020-08-18 11:35] ambmax00 opened #362 "Wrong results with dbcsr_scale_by_vector with scale="left""
When using `dbcsr_scale_by_vector`, with side="left", blocks with different row/col sizes are not scaled correctly. This is likely due to the line
https://github.com/cp2k/dbcsr/blob/396964ca58f55d56212c72b8be657561e0c44e9a/src/ops/dbcsr_operations.F#L564
and subsequent lines, which instead should be
[code]
and then it gives the correct results in my case.

[2020-08-18 12:16] dev-zero commented on #362
ugh, that's an ugly one. We definitely have to improve our tests :(

[2020-09-15 14:07] ambmax00 commented on #356
Hi, me again.
Question: until now, I have always explicitly reordered the tensors which `dbcsr_t_copy` to make them compatible for tensor contractions. But is there a difference if I don't reorder them prior to contraction? If I do a batched contraction, and give `bounds1`, `bounds2` ... to `dbcsr_t_contract`, does it reorder the whole tensor or just the bounded/cropped tensor?

Another question:

[2020-09-15 16:36] pseewald commented on #356
If performance matters, you should do the reordering yourself. I decided to leave it up to the user to convert tensors to a contraction-compatible layout because if this was made fully internal, each tensor may be reordered in every contraction which would be rather costly. Also the internal optimizations for batched contraction require contraction-compatible tensor layouts. This reminds me to imp

[2020-09-15 16:59] ambmax00 commented on #356
Thanks for your help

I actually don't use `dbcsr_t_batched_contract_init` or `dbcsr_t_batched_contract_finalize` for large tensors because I was aware of the dangers by looking at what the subroutines do, and their description.
I only asked myself whether there will be a (big) hit in performance if I use a vector of tensors, without calling the batched_contract subroutines, compared to using the

[2020-09-16 14:55] pseewald commented on #356
I just checked with CP2K (RPA on 256 water molecules) and I found that the calculation took 40% longer if I remove the calls to batched_contract_init/finalize. You don't need to use it right now and you can have a look later once I made it more easy to use.

[2020-09-19 04:45] Jim-215-Fisher opened #377 "make failed with gfortran 10.2.0"
System: gfortran 10.2.0
Error "2" referred to at block(1:nze) and error "1" referred at block(1)

[ 14%] Building Fortran object src/CMakeFiles/dbcsr.dir/utils/dbcsr_string_utilities.F.o
[ 16%] Building Fortran object src/CMakeFiles/dbcsr.dir/work/dbcsr_work_operations.F.o
[ 16%] Building Fortran object src/CMakeFiles/dbcsr.dir/block/dbcsr_block_access.F.o
/home/mpiuser/buildpkg/cp2k/dbcsr-2.0.1/_

[2020-09-25 14:53] alazzaro opened #379 "CP2K error, seems due to DBCSR-GPU"
See https://github.com/cp2k/cp2k/issues/893

[2020-10-03 09:50] mbanck commented on #377
That's blocking cp2k in Debian/Ubuntu now

[2020-10-14 07:56] shoshijak opened #384 "dbcsr_tensor_unittest fails with CCE 10"
Since about around PR #370 , the CI test `dbcsr_tensor_unittest` fails with a segfault, when compiled with the Cray compiler.

I've run tests and could determine that the fail is caused by CSCS upgrading the Cray compiler (in terms of module names, from `cce/9.0.2` to `cce/10.0.2`), and not by a change in DBCSR's code base.

[2020-10-14 08:21] alazzaro commented on #384
Good spot, I will fix it. Thanks!

[2020-10-18 13:24] oschuett opened #386 "Switch build_utils and fypp to Python3"
Most distributions are now missing the `python` binary by default. Hence, the [build_utils](https://github.com/cp2k/dbcsr/blob/develop/.cp2k/) and [fypp](https://github.com/cp2k/dbcsr/tree/develop/tools/build_utils) should use `python3` instead.

Alternatively, instead of grandfathering the old Makefile we could move the DBCSR build into the toolchain, ie. https://github.com/cp2k/cp2k/issues/351.

[2020-10-19 07:03] dev-zero commented on #377
@Jim-215-Fisher which version of DBCSR is this? I belive we fixed all of the occurrences in 58ee9709545deda8524cab804bf1f88a61a864ac

[2020-10-20 08:43] dev-zero commented on #386
Thanks for the report, fixed in 97086fa19d40784b48a7580377b26bfd48ac552d and a37026c3955d4447000f87791da7f78d20107423.

No, people struggle enough already with the usual toolchain changes. As long as there is no automated toolchain-rebuild (as can be provided with the Spack-based toolchain) and/or a stable enough API from DBCSR I am not going to sacrifice their time without providing any benefit.

[2020-10-20 08:43] #386 closed

[2020-10-20 08:55] dev-zero commented on #377
Ok, I can not reproduce this with latest `develop` and gcc-10.2. Hence this will be fixed in the next 2.1 release.

[2020-10-20 08:55] #377 closed

[2020-10-20 09:02] oschuett commented on #386
Thanks for the changes. Hopefully, the DBCSR API stabilizes in the near future.

[2020-10-20 12:24] #353 closed

[2020-10-20 12:39] dev-zero commented on #318
I believe we have in principle 2 options:

* separate CMake variable/option to control `__CUDA_PROFILING`
* a `CUDA_PROFILING` (or general `PROFILING`) `CMAKE_BUILD_TYPE`, in `cmake/CompilerConfiguration.cmake` one would add for this a `set(CMake_Fortran_FLAGS_PROFILING "-D__CUDA_PROFILING")` and in `CMakeLists.txt` extend the enum of allowed configs

[2020-11-15 20:32] yurivict opened #387 "Breaks with gcc-10: Error: Rank mismatch between actual argument at (1) and actual argument at (2) (scalar and rank-1)"
[code]

Version: 2.0.1
OS: FreeBSD 12.2

[2020-11-16 09:18] dev-zero commented on #387
which version of DBCSR Is this?

[2020-11-22 21:02] alazzaro opened #389 "Bug when cublas and cusmm are used at the same time"
See https://github.com/cp2k/cp2k/issues/911

[2020-11-23 18:30] dev-zero commented on #39
the documentation runs on fypp-processed source files, actually. Hence the f90 files are implicitly included in that.

[2020-11-24 07:35] dev-zero commented on #39
and the DBCSR version is now included in the documentation

[2020-11-24 07:35] dev-zero commented on #39
I took the liberty to rename the issue to reflect the remaining issue

[2020-11-24 07:38] dev-zero commented on #387
hence a duplicate of #377

[2020-11-24 07:38] #387 closed

[2020-11-24 09:21] dev-zero commented on #361
@alazzaro it seems we have a lot of this stuff, how should we proceed?

* For the `routineP` on can use a sed line like `/PARAMETER :: routineN/ { N; s/, &\n.*routineP.*// }`, but in some cases we still use it
* for the unused functions: it seems most of them have never been used (even in CP2K), they also have never been made public to be used outside of those modules. I would suggest to hard drop

[2020-11-24 11:27] mkrack commented on #361
CP2K is clean concerning unused routineP, routineN, and moduleN parameters and other parameters and variables. Though an automatic replacement worked for most instances, some cases did not work or the code was even spoiled in spite of the applied formatting by pretty. I filtered the files and line numbers with unused variables from the compiler output and went through all of them finally by hand w

[2020-11-26 20:06] alazzaro opened #397 "Document cuda profiling feature"

[2020-11-26 20:36] alazzaro commented on #389
@oschuett
For the discussion we had on this bug, I'm not completely sure that your change will make the difference here... Well, probably I'm fully clear how the stream GPU mechanism works in DBCSR...

In the current code used by DBCSR in CP2K, each CPU thread submits to the GPU on a different portion of the C matrix. Then, each thread is attached to a stream (via a round-robin). Now, I understand

[2020-11-26 21:17] oschuett commented on #389
Each OpenMP threads has multiple stack buffers (for different combinations of mnk). Each stack buffer has it's own stream (more or less). Hence, there are multiple streams per OpenMP thread.

Unfortunately, this stream / even part is quite complex. Have a look at Figure 4 in the [book chapter](https://www.cp2k.org/_media/gpu_book_chapter_submitted.pdf).

[2020-11-27 07:14] #362 closed

[2020-11-27 07:15] dev-zero commented on #397
You mean documentation as in a short howto?

[2020-11-27 07:15] #318 closed

[2020-11-27 08:40] #173 closed

[2020-11-27 10:05] alazzaro commented on #397
A bit more, I have some screenshots that I can share... this is low priority...

[2020-11-27 10:56] alazzaro commented on #361
@dev-zero Is this issue now fixed?

[2020-11-27 11:05] alazzaro commented on #361
Answering to myself: it is not yet, the missing piece is `-Wconversion-extra`...

[2020-11-27 13:00] alazzaro commented on #356
Is this still relevant? Please close otherwise....

[2020-11-27 13:04] pseewald commented on #356
Let's keep it open to remind me of making this feature stable.

[2020-11-27 14:38] alazzaro commented on #389
Thanks @oschuett , now I understand the stacks and streams relation...
Now, your idea of using the global stream per each thread, i.e. `c_area%memory_type%acc_stream`, will make cublas calls OK. So we have
* cusmm calls OK
* cublas calls OK
What about the mix case, i.e. cublas and cusmm operating on the same C-block?

[2020-11-27 15:39] oschuett commented on #389
Work on the `c_area%memory_type%acc_stream` can not overlap with previous cusmm kernels because of [this](https://github.com/cp2k/dbcsr/blob/d2dfe6e25efde255f72ac27f542124b69c7af1c2/src/mm/dbcsr_mm_accdrv.F#L587).

Future kernels can not overlap either as long as you continue to call [acc_stream_synchronize](https://github.com/cp2k/dbcsr/blob/d2dfe6e25efde255f72ac27f542124b69c7af1c2/src/mm/dbcsr_a

[2020-11-27 15:41] alazzaro commented on #389
OK, let me come up with a first patch and then we discuss...

[2020-11-27 15:42] alazzaro commented on #379
@oschuett could you attach the simplified input file you use to understand the problem?

[2020-11-27 15:53] oschuett commented on #379
Sure, [here](https://github.com/cp2k/cp2k/files/5602113/hf_omp_short.inp.gz) it is. To narrow this down I added a bunch of `WRITE (*,*) dbcsr_checksum(foo)` and used `diff -y` to compare outputs with one and two OpenMP threads.

[2020-11-30 13:42] dev-zero commented on #361
I'd propose to move `-Wconversion-extra` to v2.2, and rather work on fixing the `-Wsurprising` and find a solution for the exact comparisons: in several places we are using a exact comparisons of reals since they also act as flags.

[2020-11-30 15:00] dev-zero commented on #361
... and I agree @mkrack, there are certain errors one can catch. Following an int_4 int_8 conversion the function call chain up I end at this:

[code]

the receiver of this function turns it into an `int_8`. The question is now: is it intentional that in the sum it can first overflow before getting converted to an `int_8`. Being a hash function it probably doesn't matter too much, but still...

[2020-12-01 13:42] alazzaro commented on #389
@oschuett I need your advice on the PR for fixing this bug.

I think I have to add a
[code]
just after this line:

https://github.com/cp2k/dbcsr/blob/8e76ca107a595916811d0260f7956d3f32f5c33d/src/mm/dbcsr_mm_accdrv.F#L568

Do you confirm?

[2020-12-01 20:04] oschuett commented on #389
@alazzaro, I think this call to `acc_stream_wait_event` is not needed, because `libsmm_acc_process_blas` uses `param_stack_host`. Hence, it does not have to wait for the stack buffer to be uploaded to the device.

[2020-12-01 20:08] alazzaro commented on #389
The point is that if I don't add it, the code simply gets wrong results... See here:

https://object.cscs.ch/v1/AUTH_40b5d92b316940098ceb15cf46fb815e/dbcsr-artifacts/logs/build-609/

I went to debug it and found that solution, but I want to ask you since you know the GPU part better than anyone else...

[2020-12-01 22:07] #389 closed

[2020-12-02 14:45] alazzaro opened #402 "Dangling pointer ROW_MAX_EPSS"
See https://github.com/cp2k/cp2k/issues/1036

[2020-12-02 15:13] alazzaro commented on #379
So, update on the issue:
1. The bug is there since a while (probably since the beginning of the thread distribution part, see below)
2. it is not related at all to the GPU execution. The point is that the CPU execution does densification, while the GPU doesn't. It turns out (as @oschuett pointed out) that the densification is able to fix the problem. If we remove the densification for the CPU, the

[2020-12-03 09:36] alazzaro commented on #254
I think this issue is mostly done, right? @shoshijak

[2020-12-03 09:47] shoshijak commented on #254
Yes, I agree

[2020-12-03 09:49] alazzaro opened #405 "Refactor thread_dist"
Currently, thread_dist is part the dbcsr_distribution. However, thread_dist is based on row_blk_sizes, which are part of dbcsr_type. So we can have a mix where a matrix has a thread distribution that doesn't match to its row_blk_sizes.
This leads to an error when running the multiplications, where it can be that matrix_c has a different thread_dist than matrix_left. A workaround was put in place (

[2020-12-03 09:51] alazzaro commented on #254
closed via #381

[2020-12-03 09:51] #254 closed

[2020-12-03 10:24] #379 closed

[2020-12-23 08:17] mbanck opened #411 "Use "DBCSR developers group" instead of "CP2K developers group" as authors for software citation?"
This might be nitpicking, but I noticed the copyright boilerplate at the top of the source files mentions the "DBCSR developers group" everywhere, while the `README.md` tells users to cite as follows:

[code]

As a nitpick to this nitpick, maybe "matrix library" in the `title` could be capitalized as well.

[2020-12-23 08:22] mbanck opened #412 "Add COPYRIGHT file and/or clarify copyright years"
CP2K has a top-leve `COPYRIGHT` file that clearly states the years the CP2K Developers Group assert on the copyright.

The standard copyright boilerplate for the DBCSR source files does not mention a year, nor is it mentioned anywhere else. I think it would be prudent to clarify that, either by introducing a `COPYRIGHT` file, (probably contentious) by noting the years of individual involvements in

[2020-12-23 09:48] oschuett commented on #412
Most of the history comments were [removed](https://github.com/cp2k/dbcsr/commit/c3d6f57e012fa2adf19abcc8547b42d1bf961197) during the transition to FORD. I believe [this](https://github.com/cp2k/cp2k/commit/a57596a7ef1573d075a7763de8a2a41d05e198c1) is the first commit for DBCSR, which is from May 2009

Since CP2K now states the copyright in each sourcefile, top-level `COPYRIGHT` file is redundant

[2020-12-23 10:48] alazzaro commented on #412
@dev-zero did a great job to copy the entire history of the files commits we are using. Therefore the first set of commits is:

https://github.com/cp2k/dbcsr/commits/develop?after=1da47620ea8ee33d68c6753e4c6adb1053c7fa73+2799&branch=develop

Therefore, I would say that it is worth mentioning 2001 as the beginning of the project.

[2020-12-23 14:17] oschuett commented on #412
I've opened https://github.com/cp2k/cp2k/issues/1245 to discuss the fate of CP2K's `COPYRIGHT` file.

[2020-12-24 08:24] dev-zero commented on #412
Negative. After reading through some of the materials from the FSFE on licensing and the recommendations from GH I came to the conclusion that this is not needed and only adds noise to commits, like the bogus "increase copyright year" each year done by some projects (if needed the latest copyright date taken is the one from the last substantial commit to a file, hence updating the year does nothin

[2020-12-26 17:52] alazzaro opened #413 "Aliasing in dbcsr_multiply"
See https://github.com/cp2k/cp2k/issues/1037

[2020-12-29 12:00] alazzaro opened #414 "Inconsistent INTENT for nullified pointer DATA"
See https://github.com/cp2k/cp2k/issues/1261

[2020-12-30 15:59] vzecca opened #415 "Inconsistent INTENT for nullified pointer DATA"
In most test cases at dbcsr_array_types.F line 93 and 155 the pointer DATA is nullified.
However in calling procedures the corresponding pointer is an INTENT(IN) formal argument.
It is called row_blk_size or col_blk_size
in dbcsr_work_operations.F and in dbcsr_test_methods.F lines 327 and 328.

INTENT(IN) should then be INTENT(INOUT).

[2020-12-30 16:02] oschuett commented on #414
I used the new [transfer feature](https://docs.github.com/en/free-pro-team@latest/github/managing-your-work-on-github/transferring-an-issue-to-another-repository) to turn the original issue into #415.

[2020-12-30 16:02] #414 closed

[2021-01-05 16:34] dev-zero opened #416 "cmake: add -fallow-argument-mismatch if MPICH is detected with GCC 10+"
until https://github.com/pmodels/mpich/issues/4300 is solved we need to add `-fallow-argument-mismatch` when building our MPI wrapper. The most portable and clean solution would be to `try_compile` a snippet triggering the issue when gcc 10+ is used and if it is triggered, add the flag. The other option would be to unconditionally add the flag when MPICH and gcc 10+ are used. The latter has the di

[2021-01-08 18:52] dev-zero opened #417 "Number of threads has changed! when running with cp2k.sdb and more than 64 OMP threads"
**Describe the bug**

we get the following error message when running certain tests with a fresh `cp2k.sdbg`:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Built with the command: `make ARCH=local VERSION=sdbg` with the arch file from the toolchain
2. Run like this: `cd tests/QS/regtest-ri-rpa-rse ; ../../../exe/local/cp2k.sdbg Cubic_RPA_RSE_H2.inp`
3. On the architecture/host/plat

[2021-01-08 19:29] dev-zero commented on #417
reproducible with DBCSR itself, configured with: `cmake -DTEST_MPI_RANKS=1 -DTEST_OMP_THREADS=72 ..`:

[code]

and [`Testing/Temporary/LastTest.log`](https://github.com/cp2k/dbcsr/files/5789016/LastTest.log) shows for the relevant test:

[code]

[2021-01-13 07:52] vzecca opened #420 "dbcsr_reserve_blocks dereferences dangling pointer MATRIX%COL_I"
Running cp2k test cases QS/regtest-gw/evGW_OH_PBE.inp and evGW_OH_PBE_svd.inp
the dangling pointer matrix%col_i is dereferenced at dbcsr_block_access.F line 597

  CALL merge_index_arrays(new_row_i, new_col_i, new_blk_p, nblks_new, &
                                 old_row_i, matrix%col_i, matrix%blk_p, nblks_old, &

For first test case its target was DEALLOCATEd at line 406 of data/dbcsr_ptr_uti

[2021-01-13 09:20] dev-zero commented on #417
it seems that the number of OMP threads gets capped to 64 at some point

[2021-01-15 09:43] oschuett commented on #417
Maybe this is caused by the `NUM_THREADS=64` in [install_openblas.sh](https://github.com/cp2k/cp2k/blob/master/tools/toolchain/scripts/install_openblas.sh#L52)?

[2021-01-15 10:05] dev-zero commented on #417
Could be, should be easy to verify (ref-lapack, mkl, libsci).
If it is indeed OpenBLAS, the question is what we should do. The DBCSR-only test above was with a system-provided OpenBLAS on an openSUSE-system.

We can:

* explicitly check OpenBLAS for number of threads when linking against OpenBLAS at initialization
* implicitly check by calling a BLAS routine at initialization
* reinit the first ti

[2021-01-18 12:16] dev-zero commented on #417
Could now reproduce this on a new (Apple silicon) MacBook Air. The only way around was to set `OMP_NUM_THREADS=1`.

[2021-01-18 12:49] dev-zero opened #421 "libsmm_acc_gpu_blas_init possibly calls omp_get_num_threads outside of parallel region"
https://github.com/cp2k/dbcsr/blob/21dae0fbf6027aaa935eaa53cb024fc9c42573eb/src/acc/libsmm_acc/libsmm_acc_init.cpp#L37-L41

https://github.com/cp2k/dbcsr/blob/21dae0fbf6027aaa935eaa53cb024fc9c42573eb/src/acc/libsmm_acc/libsmm_acc_init.cpp#L80-L85

... if the init/finalize is meant to be called from inside a parallel region, then guarding by `omp_in_parallel()` might be a good idea, but if called f

[2021-01-21 08:51] hfp opened #422 "ACC init/finalize issues"
There are two potential issues with DBCSR's init/fini flow wrt ACC interface and LIBSMM:

1. DBCSR calls `acc_init()`, which eventually calls `libsmm_acc_init()` internally (this is a potential issue since the backend (CUDA/HIP, or OpenCL, etc.) then depends on LIBSMM). The latter routine (`libsmm_acc_init`) was only recently introduced (everything here applies similarly to the respective finalize

[2021-01-21 08:59] dev-zero commented on #422
ACK. Possibly related to #421?

[2021-01-21 09:10] hfp commented on #422
Could be, at least related in the sense of being an OpenMP/multicore inconsistency.

For OpenCL backend, the first issue from above (1) was unveiled by linker errors and weird dependency/use of libraries/objects in CMake, for the second issue (2) the expectation is/was made explicit (https://github.com/hfp/dbcsr/blob/openclacc/src/acc/opencl/acc_opencl.c#L133).

[2021-01-28 10:25] haampie commented on #422
@hfp I don't know if you've seen this, but I prefixed the full C api with dbcsr_c_* here: https://github.com/cp2k/dbcsr/pull/419 to avoid these clashes.

[2021-01-28 11:08] hfp commented on #422
@haampie Thank you! I was not aware about this. Also, good to know if end up merging our work together.

One unrelated question (in case you have an AMD graphics card at hand): perhaps you can try/play with the OpenCL backend on AMD? Should work out-of-the-box (USE_ACCEL=opencl, etc.). Though, kernels are not sophisticated (maybe it looks like this because of the ifdef switches in the kernel-code;

[2021-01-29 08:58] haampie commented on #422
Hi @hfp, I'll give it a shot, but currently the cluster with AMD GPUs is unavailable, hopefully it's back next week.

[2021-01-29 09:27] hfp commented on #422
@haampie Thank you!

[2021-02-02 20:43] alazzaro commented on #422
Related to https://github.com/cp2k/dbcsr/issues/261

[2021-02-03 17:07] dev-zero opened #424 "online-docs: "Installation guide" leads to page not found (404)"
clicking on "Installation guide" on https://cp2k.github.io/dbcsr/develop/ leads to a "page not found (404)"

[2021-02-03 17:17] #424 closed

[2021-02-04 12:23] #261 closed

[2021-02-04 14:41] alazzaro commented on #422
@hfp Can we close this issue (and the corresponding #261)?

[2021-02-04 14:47] hfp commented on #422
Yes

[2021-02-04 16:17] dev-zero opened #427 "tests: make libsmm_acc tests run with MPI"
currently the tests output unconditionally and are not being run through the MPI wrappers (`mpirun` or `srun`) in `tests/CMakeLists.txt`

[2021-02-08 08:02] alazzaro opened #429 "Performance regression on Daint-CI"
Performance regression:

old: https://object.cscs.ch/v1/AUTH_40b5d92b316940098ceb15cf46fb815e/dbcsr-artifacts/logs/build-679/gnu.test.out
new: https://object.cscs.ch/v1/AUTH_40b5d92b316940098ceb15cf46fb815e/dbcsr-artifacts/logs/build-689/gnu.test.out

Need to check side by side on the same job.

[2021-02-08 08:43] dev-zero opened #430 "ghi: move ROCm image to our hub.docker.com org"
The ROCm build tests currently uses an image from @shoshijak, we should migrate that to our Docker hub and rebuild/update the image periodically like we do with the others.

Note: the [Docker Hub Repo](https://hub.docker.com/r/dbcsr/build-env-rocm-ubuntu-18.04) is already there and GHI should have push access, so the only things remaining are:

* [ ] add job entry in `.github/workflows/docker-buil

[2021-02-08 08:54] alazzaro commented on #422
@hfp I went again to read this issue... My understanding is that the first point is fixed (acc_init). Note that there is issue #13 somehow related to this topic... But I now read the second bullet (init and finalize with different workflow). I assume this is still there, correct? If so, we should reopen this issue...

[2021-02-08 09:16] hfp commented on #422
There was also a fix necessary on my side, which was unveiled by @haampie 's changes. My CMake stuff applied `-fopenmp` (or equivalent) only to the LIBSMM source code but not the backend sources. It seems to me the respective init/fini functions are both called by the master thread from inside of parallel regions (which is symmetric in contrast to above claim). However, I have not checked this in

[2021-02-08 09:19] alazzaro commented on #422
Then let's reopen... I like the idea to have symmetry between init and finalize...

[2021-02-09 09:18] haampie commented on #430
Let me fix this

[2021-02-09 09:24] haampie commented on #430
By the way, generally it's fine to use Ubuntu 20.04, but the downside is that you get a very recent libc, so if you decide to run this docker image on Daint with the `--mpi` flag, you might run into problems when it tries to mount Cray's libmpi.so + deps (which includes old libc).

[2021-02-09 09:51] dev-zero commented on #430
Well, I don't mind upgrading them to 20.04.

But I just discovered another problem: Docker restricted the options in the Free edition of Docker hub, meaning that I can't hand out granular permissions anymore (permissions on existing repos still work). So I had to make the `dbcsrbot` an owner of the organization, which should allow it to push to:

* https://hub.docker.com/repository/docker/dbcsr/bu

[2021-02-09 09:52] haampie commented on #430
You can also push to github, right?

[2021-02-09 09:56] alazzaro commented on #430
What's the lower Ubuntu version that we can use on Daint, 18.04? I also think we should avoid to use new libc...

[2021-02-09 09:58] dev-zero commented on #430
yes, but there were issues at the beginning with the GH CI integration, if that is fixed we can use the [GitHub Packages](https://github.com/orgs/cp2k/packages?repo_name=dbcsr).

[2021-02-09 10:06] haampie commented on #430
@dev-zero that'd be useful to make CI pass in #432, I'd have to `docker push` the image once ahead of time

[2021-02-09 10:15] haampie commented on #430
[code]

and

[code]

I've always used ubuntu 18.04 without any problem, but apparently ubuntu:16.04 is best :/

[2021-02-09 10:15] dev-zero commented on #430
done

[2021-02-09 10:22] alazzaro commented on #430
I see we are currently using 18.04. Is it the HIP that uses 20? I will go for 18 there too...

[2021-02-09 10:25] alazzaro commented on #430
Forget my previous comment, I see HIP is using 18 (https://github.com/cp2k/dbcsr/tree/develop/tools/docker)

[2021-02-09 10:33] haampie commented on #430
I just changed that to ubuntu 20.04 in #432 because the other ubuntu image uses that too and it would be fewer lines to install compilers and libs :sweat_smile:

Let me see how much work it is to move everything to ubuntu 18.04.

[2021-02-09 10:42] haampie commented on #430
I'd stick to ubuntu 20.04 for now. There's multiple issues with ubuntu 18.04:

1. gcc-8 and lcov don't work together when installed with apt; lcov doesn't understand the new coverage format
2. libmpich.so has a wrong soname and won't work with sarus on daint; not the case on ubuntu 20.04:
[code]
   it should be libmpich.so.12, and then sarus would know it's abi compatible with cray's libs.

[2021-02-09 10:46] alazzaro commented on #430
Well, 20.04 is fine, of course...

[2021-02-25 16:44] ambmax00 opened #435 "C tensor interface error after rebase: "This should not happen""
Getting ready to finish up the pull request #348 for the c matrix API, I have merged upstream into my branch. Before, the base was at commit 5499849d5ba9af39b2a3af8f0f3ce3814f5eebe2. I have not changed any significant part of the c tensor interface.

However, when I try to test my program, it fails for tensor contractions with the form
`(ab|c) x (ab|ef) = (ef|c)`
All other types work. Note that re

[2021-02-26 08:09] alazzaro commented on #435
So, I'm a bit confused: is this something which was introduced after https://github.com/cp2k/dbcsr/commit/5499849d5ba9af39b2a3af8f0f3ce3814f5eebe2 ?

[2021-02-26 08:16] ambmax00 commented on #435
Yes, after rebasing my branch from 5499849 to acf88120a24330a7447eead1eeb15fd80693404d, the error started occurring.

[2021-02-26 08:23] alazzaro commented on #435
OK, that one is a pretty old commit...
Can you try with a recent one? I see @pseewald did some changes in the TAS part, probably we are lucky to find which commit introduced the problem...

[2021-02-26 08:38] ambmax00 commented on #435
Ok, I will go through each commit which modifies tensor or tas, and see where it stops working...

[2021-02-26 08:42] alazzaro commented on #435
Thanks! Well, you can go for chunks of commits... What I mean is that after each major changes in TAS, Patrick did a release...

[2021-02-26 09:20] ambmax00 commented on #435
It stops working at commit 7e491345fa5e1f2648eacd4f7b7f2885d746907a
This is the commit where the error message was actually introduced...

[2021-02-26 10:23] alazzaro commented on #435
OK, then this is a question for @pseewald ...
From what I can recall, Patrick introduced some more restricts splitting of the matrices, so maybe it is something we have to change from the design point of view...

[2021-04-11 20:16] pseewald commented on #435
Sorry for not responding, and thanks for the detailed information. I‘ll try to fix this within the coming week.

[2021-04-14 09:23] ltalirz opened #441 "FC default in Makefile overrides environment variables in cp2k builds"
**Describe the bug**
The DBCSR Makefile ~13 months ago [introduced defaults](https://github.com/cp2k/dbcsr/blame/master/.cp2k/Makefile) for variables like `FC`, e.g. `FC        = mpif90`.
As cp2k includes this makefile, this results in the value of corresponding environment variables (e.g. `FC`) being ignored, if they are not specified explicitly in the arch-file.

We noticed this on conda-forge,

[2021-04-14 09:33] hfp commented on #441
The `?=` might be a good option. Though, DBCSR's hidden Makefile as included by CP2K is (was?) also meant to enable standalone builds of DBCSR (at least that is what is still possible/working).

[2021-04-14 09:40] oschuett commented on #441
I think, we should just move ahead with our plan to build DBCSR via the toolchain using cmake.

[2021-04-14 19:23] alazzaro commented on #441
To clarify some points:

It is the other way around, DBCSR makefile includes the arch file (we don't include the CP2K makefile).
This is done via:

https://github.com/cp2k/dbcsr/blob/046f9db8d4aedf81ea3d7a998bc7cc413a92d468/.cp2k/Makefile#L95-L97

Now, that include is after the default `CXX`,`CC`, `FC`... so the assumption is that the CP2K arch file must provide those entries. Same for all other f

[2021-04-27 18:33] hfp commented on #435
Since this issue is present in DBCSR v2.1.0, I wonder if the tensors are already used in CP2K? If so, upcoming CP2K v8.2 is affected. Stretch time for v8.2 is mid of May, but fixes would need to take place asap. for proper testing...

[2021-05-04 06:06] vzecca opened #447 "Dangling pointer referenced in dbcsr_mm_multrec.F"
Running many test cases of cp2k, among them xTB/regtest-3/h2o_rtp.inp, in dbcsr_mm_multrec.F line 518

CALL dbcsr_mm_csr_multiply(this%csr, left, right, &
...
 use_eps=this%use_eps, row_max_epss=this%row_max_epss, &

the dangling pointer this%row_max_epss is referenced.

The pointer was returned by the procedure dbcsr_mm_multrec_init.
I think this is because inside the procedure at line 232 the fo

[2021-05-10 18:04] dev-zero opened #448 "Possibly bogus `SAVE` attribute for various variables"
There are various variables declared as `SAVE`, for example here:

https://github.com/cp2k/dbcsr/blob/0a1ce2e81143f5a36929f07e47eb18cc7b6db6bf/src/work/dbcsr_work_operations.F#L1412

The AMD flang compiler for example does not like it (even though it should be standard) and since those pointers are mere aliases set mostly at the earliest moment in the code I am wondering whether they are actually

[2021-05-24 06:57] yurivict opened #456 "Tests fail to compile: error: use of undeclared identifier 'I'"
[code]

[2021-05-24 08:20] hfp commented on #456
PR https://github.com/cp2k/dbcsr/pull/457 should this problem, which was still present in the development version of DBCSR.

[2021-05-24 08:21] hfp commented on #456
( I believe DBCSR 2.1.0 is still the version going into the imminent CP2K 8.2 )

[2021-05-25 06:40] #456 closed

[2021-06-10 14:35] alazzaro opened #463 "Undefined variables"
See

https://github.com/cp2k/cp2k/issues/1502

[2021-06-14 09:26] oschuett opened #464 "Add support for hipBLAS"
It would be nice to have support for [hipBLAS](https://github.com/ROCmSoftwarePlatform/hipBLAS) instead of rocBLAS as this allows to test the hip code path on Nvidia devices.

[2021-06-14 09:45] oschuett commented on #464
Never mind, found it :-)

[2021-06-14 09:45] #464 closed

[2021-06-24 14:24] ambmax00 commented on #435
Hi, any update on this issue?

[2021-06-27 14:06] Timstone813 opened #469 "Error: invalid preprocessing directive"
I successfully cmake dbcsr using the following code:
`/public/home/godeye2021/cmake/bin/cmake .. -DUSE_MPI=ON -DUSE_HIP=ON -DUSE_SMM=blas  -DUSE_OPENMP=OFF -DCMAKE_Fortran_COMPILER=mpifort -DCMAKE_CXX_COMPILER=hipcc -DUSE_OPENMP=OFF -DUSE_SMM=libxsmm -DUSE_ACCEL=hip -DWITH_CUDA_PROFILING=OFF -DWITH_C_API=ON -DWITH_EXAMPLES=ON -DWITH_GPU=Mi50 -DCMAKE_BUILD_TYPE=Release -DBUILD_TESTING=ON -DTEST_MPI

[2021-06-28 07:22] hfp commented on #469
Is this the `develop` branch? Also, have you cloned the repository and then updated/initialized the submodules?

[2021-06-28 11:47] Timstone813 commented on #469
I have tried various versions ,
Add HIP Profiling support (#461) …    commit
52a3d0cfc6a7bb6440a2661b5893587b868451cb
Add Mi100 support (#452)   commit 9792a8021f390834153a95ded4d9bdcbf998c611
dbcsr-develop
All the same error. These are my submodules:
[image: image.png]

Hans Pabst ***@***.***> 于2021年6月28日周一 下午3:22写道：

[2021-06-28 12:12] dev-zero commented on #469
@Timstone813 can you check whether a simple configuration (`cmake .. && make -j`) works?
And please post the output of make when running with `make VERBOSE=1` so we see the actual command.
Also I don't think that specifying the HIP compiler in such a way is necessary or correct. @gsitaram ?

[2021-06-28 13:14] Timstone813 commented on #469
I tried the develop version, it's still the same.
[image: Snipaste_2021-06-28_21-07-15.png]
[image: Snipaste_2021-06-28_21-08-06.png]
[image: Snipaste_2021-06-28_21-08-26.png]
[image: Snipaste_2021-06-28_21-08-41.png]
[image: Snipaste_2021-06-28_21-08-56.png]
[image: Snipaste_2021-06-28_21-10-36.png]
[image: Snipaste_2021-06-28_21-10-46.png]

Tiziano Müller ***@***.***> 于2021年6月28日周一 下午8:13写道：

[2021-06-28 13:20] dev-zero commented on #469
@Timstone813 please use the github webinterface to upload images, they are not visible...

[2021-06-28 13:28] Timstone813 commented on #469
Thanks for reminding.
cmake succeeded
make error
![Snipaste_2021-06-28_21-07-15](https://user-images.githubusercontent.com/21101211/123643933-7e70ad00-d857-11eb-844c-3b1420df56f2.png)
![Snipaste_2021-06-28_21-08-06](https://user-images.githubusercontent.com/21101211/123644004-8fb9b980-d857-11eb-971f-dc5404f7fa81.png)
![Snipaste_2021-06-28_21-08-26](https://user-images.githubusercontent.com/2110121

[2021-06-28 14:16] dev-zero commented on #469
@Timstone813 it seems that for some reason the fypp preprocessor didn't run properly. Can you please try with a clean build directory and with a really simple configuration? See my previous message.

[2021-06-28 14:22] hfp commented on #469
@Timstone813 @dev-zero This was my reason to ask for whether submodules have been cloned/initialized or not. Unfortunately, I was not able to view the attached image mentioned in the [comment](https://github.com/cp2k/dbcsr/issues/469#issuecomment-869615958).

[2021-06-28 14:58] Timstone813 commented on #469
My fypp version is V3.1. Is it too high?
I have successfully made the version: commit 9bd2dc31a0527

[2021-07-27 19:52] alazzaro commented on #435
@pseewald Do you have time to look in this issue?

[2021-08-20 17:55] ambmax00 commented on #435
For now, replacing `DBCSR_ABORT("should not happen") ` by `nsplit_prv = 1` seems to resolve the issue for me in all cases, though I don't know if it leads to bugs somewhere else. I will look into it.

[2021-09-11 15:39] alazzaro commented on #435
@ambmax00 could you make the change in any case? we can test as part of the standard CP2K procedure...

[2021-09-11 15:53] alazzaro commented on #441
This problem has been fixed in the commit https://github.com/cp2k/dbcsr/commit/7cc33c52ef14fce0a82766aea2f88b1dc432a73d

[2021-09-11 15:53] #441 closed

[2021-09-11 19:45] #156 closed

[2021-09-13 06:25] ambmax00 commented on #304
Has there been any progress on this? The limit on the allocation size can be quite cumbersome, especially for tensors. Should I have a go at it?

[2021-09-13 06:58] #435 closed

[2021-09-14 09:37] alazzaro commented on #144
MatrixSwitch only supports DBCSR v1.0 API. No plan to update it.

[2021-09-14 09:37] #144 closed

[2021-11-19 14:59] #469 closed

[2021-11-22 15:59] hfp opened #519 "Daint-CI is not running"
See also [here](https://github.com/cp2k/cp2k/pull/1751#issuecomment-975523824).

[2021-12-08 09:13] #361 closed

[2021-12-20 11:31] alazzaro commented on #519
Daint-CI reports the following errors with CCE:
[code]

[2021-12-20 11:37] hfp commented on #519
... which seems to be a correct claim. The suffix `d` is invalid as opposed to `f` in case of single-precision. I can send a PR if you like.

[2021-12-20 11:38] alazzaro commented on #519
Thanks! There is also a dask security problem (see https://github.com/cp2k/dbcsr/security/dependabot )

[2021-12-20 11:45] hfp commented on #519
The mentioned [URL](https://github.com/cp2k/dbcsr/security/dependabot) does not work for me. However, https://github.com/cp2k/dbcsr/security works and there is no security issue shown. Can you share details or grant permission to view the issue?

[2021-12-20 11:53] alazzaro commented on #519
done, let me know if you can see it

[2021-12-20 12:00] hfp commented on #519
Thanks!  Works now; I will send a PR as well and update requirements.

[2021-12-20 15:42] alazzaro commented on #519
The CI is fine now. The "not found" is because we have to fix a problem with the data store at CSCS (@dev-zero is working on it).

[2021-12-21 11:49] hfp commented on #519
@alazzaro Thank you!

[2021-12-24 12:17] hfp opened #535 "c_dbcsr_acc_set_active_device is called before c_dbcsr_acc_init"
The routine c_dbcsr_acc_set_active_device (per dbcsr_init_lib_pre) is called prior to c_dbcsr_acc_init (per dbcsr_init_lib_low). For instance dbcsr_init_lib_def calls dbcsr_init_lib_pre before dbcsr_init_lib_low.

[2022-01-10 11:39] SpinTensor opened #536 "Fortran Standard violation in dbcsr_api_c.F"
In the File `dbcsr_api_c.F` in the subroutine `c_free_string` the intrinsic subroutine `c_f_pointer` is called: `CALL c_f_pointer(c_string, string)`. The second argument is declared as `CHARACTER(:, kind=c_char), POINTER :: string`. The Fortran standard draft ISO/IEC FDIS 1539-1:2018 section 18.2.3.3 states that the second argument of the `c_f_pointer` "[...]shall not have the deferred type parame

[2022-01-10 14:34] hfp commented on #519
@dev-zero is there a path which I can lookup (after login to CSCS) for build/run logs? I am blind wrt test failures raised by Daint-CI. If there is no timeline for the "Not found" issue, I can run on Daint directly but it is somewhat inconvenient.

[2022-01-10 14:40] hfp commented on #535
Closed by PR #537

[2022-01-10 14:40] #535 closed

[2022-01-19 17:50] yurivict opened #544 "2.2.0 fails: error: invalid suffix 'd' on floating constant"
[code]

clang-12
FreeBSD 13

[2022-01-19 17:54] yurivict commented on #544
Tests also fail:
[code]

[2022-01-19 18:39] hfp commented on #544
This is fixed in develop branch. It is just that 2.2 was tagged on an earlier revision.

[2022-02-03 15:50] #544 closed

[2022-02-09 15:09] shahzebsiddiqui opened #553 "Add CP2K support for A100"
I am trying to build CP2K for our NVIDIA A100 system using spack, I reported an issue and according to @dev-zero in https://github.com/spack/spack/issues/28554#issuecomment-1033840686 he suggested we post an issue here so support can be added.

[2022-02-10 09:38] alazzaro commented on #553
Autotuning the kernels for A100 is definitely on our schedule. In the meantine, you can use V100 kernels.

[2022-02-16 19:40] Beliavsky opened #558 "add topic linear-algebra"
I suggest adding the topic `linear-algebra` in the About section so that it comes up in such topic searches.

[2022-02-18 15:13] hfp commented on #558
Thank you for your contribution and suggestion! This should be fixed now.

[2022-02-18 15:13] #558 closed

[2022-03-18 23:20] Quark195 opened #586 "Compilation problem when using intel ifort"
Dear developers,
I ran into a problem compiling the library dbcsr for CP2K.
For compilation, I use the intel ifort version 19.1.0.139 compiler. Cmake  version 3.22.3. (Ubuntu 21.10).
For installation, I used the latest version of dbcsr-2.2.0

`CC=mpiicc FC=mpiifort CXX=mpicxx cmake -DBLA_VENDOR=Intel10_64lp_seq ..`

After which I am getting an error.

`(base) quark@quark-desktop:~/dbcsr_3/dbcsr-2.

[2022-03-18 23:26] alazzaro commented on #586
How are you downloading the library?
The error message says that FYPP is missing, so I assume you are using the wrong tar file that doesn't include FYPP as submodule. Please use https://github.com/cp2k/dbcsr/releases/download/v2.2.0/dbcsr-2.2.0.tar.gz

[2022-03-18 23:39] Quark195 commented on #586
I have the install I downloaded from [https://github.com/cp2k/dbcsr/releases/tag/v2.2.0]
Your version has been successfully installed. Thank you very much.
Best regards, Eugene

[2022-03-22 15:25] hfp opened #591 "ACC: orphaned context causing multi-gpu issue"
Investigate if creating a context for the currently active device ("init" with device "0") and later switching the device ("set_active_device") is causing orphaned resources like an orphaned context and thereby multi-GPU issues such as imbalance.

[2022-03-24 09:43] #586 closed

[2022-03-25 08:06] alazzaro commented on #427
Comment those tests for the time being (suggested by @hfp !)
See https://github.com/cp2k/dbcsr/pull/595/commits/dec083a1d1432c8ca946500d56b8f21383a1eda4

[2022-03-25 12:25] #591 closed

[2022-04-02 14:57] mbanck opened #599 "Test test_square_sparse_rma fails"
**Describe the bug**

On Debian unstable, running the testsuite fails in `test_square_sparse_rma`:

[code]

That test is the only one with `Use RMA algorithm T`, so that looks related? If that test needs two nodes (due to RMA?), I guess it should be skipped if only one is available?

Hrm, `tests/CMakeLists.txt` has (around line 30):

[code]

So (as Debian unstable now has OpenMPI v4.1) this should

[2022-04-04 10:10] alazzaro commented on #599
As far I can see, this is an error on the OpenMPI side.
The message:
[code]
is coming from OpenMPI. Then DBCSR stops when doing this call for creating the window.
In the past we had several problems with RMA and OpenMPI, that's why we mask some versions (2.1 and 3.1), as you saw in the cmake file.
We can definitely do some tricks to avoid the windows allocations when a single node is used, but in

[2022-04-04 10:16] alazzaro commented on #599
A bit of "asking google", I found this post:

https://github.com/open-mpi/ompi/issues/7393

[2022-04-13 13:13] alazzaro commented on #359
clang-format was introduced with a workaround for the FYPP processings.

[2022-04-13 13:13] #359 closed

[2022-04-14 08:02] hfp opened #607 "GitHub Actions fail to checkout repository"
Perhaps it can be worked around with suggestions taken from https://github.com/actions/checkout/issues/760. However, it is not understood well why this issue appeared.

[2022-04-14 08:06] alazzaro commented on #607
yes, it seems so...
I discussed with @dev-zero . Ideally, it would be good to have an official fix, no workaround...

let's rely on daint for the moment...

[2022-04-14 08:11] hfp commented on #607
ACK, i.e., if Daint-CI passes - PR can be merged.

[2022-04-14 08:11] hfp commented on #607
Btw, rerunning failed actions does not help.

[2022-04-14 08:28] dev-zero commented on #607
that's a fallout of a fix to the latest git CVE (and the git versions inside most of our build containers have been updated), I expect a general solution in the actions/checkout to appear soon'ish.

[2022-04-16 18:17] hfp commented on #607
The issue is supposedly fixed (and already released upstream). I reran all failed tests for the (currently) [latest merged commit](https://github.com/cp2k/dbcsr/commit/6a852ebe87838d033abbc30e2827e83409a5ec7e) (which passed at least Daint-CI for the merge), and everything seems to pass now except the test called "[pre-commit](https://github.com/cp2k/dbcsr/runs/6049090067)" which is still failing: